@charset "UTF-8";

@font-face {
  font-family: 'cathaylife-font';
  src: url('../fonts/cathaylife-font.eot?2015101401&1447312908');
  src: url('../fonts/cathaylife-font.eot?&1447312908#iefix2015101401') format("embedded-opentype"), url('../fonts/cathaylife-font.woff?2015101401&1447312908') format("woff"), url('../fonts/cathaylife-font.ttf?2015101401&1447312908') format("truetype"), url('../fonts/cathaylife-font.svg?2015101401&1447312908#skmFount') format("svg");
  font-weight: normal;
  font-style: normal;
}
.m-icon {
  font: normal normal normal 13px/1 cathaylife-font;
  font-size: inherit;
  text-rendering: auto;
  text-transform: none;
  speak: none;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.m-icon-select {
  width: 22px;
  height: 24px;
  position: relative;
}

.m-icon-select:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #1A3;
  display: block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.m-icon-select:after {
  content: "";
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0 5px;
  border-color: #FFF transparent transparent transparent;
  position: absolute;
}

/* icon font */
.m-icon-bar-chatr:before {
  content: "\e900";
}

.m-icon-cathaylife:before {
  content: "\e901";
}

.m-icon-change:before {
  content: "\e902";
}

.m-icon-check:before {
  content: "\e903";
}

.m-icon-circle-o:before {
  content: "\e904";
}

.m-icon-circle-o-2x:before {
  content: "\e905";
}

.m-icon-cloud-usd:before {
  content: "\e906";
}

.m-icon-cloud-user:before {
  content: "\e907";
}

.m-icon-crowd:before {
  content: "\e908";
}

.m-icon-crown:before {
  content: "\e909";
}

.m-icon-crown-o:before {
  content: "\e90a";
}

.m-icon-database:before {
  content: "\e90b";
}

.m-icon-file-clock:before {
  content: "\e90c";
}

.m-icon-file-list-ol:before {
  content: "\e90d";
}

.m-icon-important:before {
  content: "\e90e";
}

.m-icon-minus:before {
  content: "\e90f";
}

.m-icon-new:before {
  content: "\e910";
}

.m-icon-pencil-computer:before {
  content: "\e911";
}

.m-icon-plus:before {
  content: "\e912";
}

.m-icon-point:before {
  content: "\e913";
}

.m-icon-square-o:before {
  content: "\e914";
}

.m-icon-stack-archive:before {
  content: "\e915";
}

.m-icon-stack-calendar:before {
  content: "\e916";
}

.m-icon-stack-check:before {
  content: "\e917";
}

.m-icon-stack-check-2x:before {
  content: "\e918";
}

.m-icon-stack-check-o:before {
  content: "\e919";
}

.m-icon-stack-commenting:before {
  content: "\e91a";
}

.m-icon-stack-comments:before {
  content: "\e91b";
}

.m-icon-stack-comments-2x:before {
  content: "\e91c";
}

.m-icon-stack-computer:before {
  content: "\e91d";
}

.m-icon-stack-database:before {
  content: "\e91e";
}

.m-icon-stack-database-2x:before {
  content: "\e91f";
}

.m-icon-stack-doll:before {
  content: "\e920";
}

.m-icon-stack-doll-2x:before {
  content: "\e921";
}

.m-icon-stack-earth:before {
  content: "\e922";
}

.m-icon-stack-file-o:before {
  content: "\e923";
}

.m-icon-stack-file-o-2x:before {
  content: "\e924";
}

.m-icon-stack-files-text:before {
  content: "\e925";
}

.m-icon-stack-file-text:before {
  content: "\e926";
}

.m-icon-stack-file-text-o:before {
  content: "\e927";
}

.m-icon-stack-mail:before {
  content: "\e928";
}

.m-icon-stack-pen:before {
  content: "\e929";
}

.m-icon-stack-pen-2x:before {
  content: "\e92a";
}

.m-icon-stack-phone:before {
  content: "\e92b";
}

.m-icon-stack-pig:before {
  content: "\e92c";
}

.m-icon-stack-pig-2x:before {
  content: "\e92d";
}

.m-icon-stack-search:before {
  content: "\e92e";
}

.m-icon-stack-search-2x:before {
  content: "\e92f";
}

.m-icon-stack-university:before {
  content: "\e930";
}

.m-icon-stack-usd-left:before {
  content: "\e931";
}

.m-icon-stack-usd-left-2x:before {
  content: "\e932";
}

.m-icon-stack-usd-right:before {
  content: "\e933";
}

.m-icon-stack-usd-right-2x:before {
  content: "\e934";
}

.m-icon-stack-user:before {
  content: "\e935";
}

.m-icon-stack-user-2x:before {
  content: "\e936";
}

.m-icon-stethoscope:before {
  content: "\e937";
}

.m-icon-university:before {
  content: "\e938";
}

.m-icon-user:before {
  content: "\e939";
}

.m-icon-user-file-text-o:before {
  content: "\e93a";
}

.m-icon-user-sort:before {
  content: "\e93b";
}

.m-icon-women:before {
  content: "\e93c";
}

.m-icon-stack {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
.m-icon-stack.is-icons .m-icon.is-absolute {
  top: 0;
  left: 0;
  margin-top: 0 !important;
  position: absolute;
}
.m-icon-stack .m-icon {
  display: block;
}
.m-icon-stack .m-icon.is-hide {
  display: none;
}

@media \0screen {
  .m-icon-stack .m-icon.is-absolute {
    margin-top: -20px;
  }
}
@media screen and (min-width: 768px) {
  .m-icon-stack .m-icon.is-absolute {
    margin-top: -20px;
  }
}
@media screen and (max-width: 767px) {
  .m-icon-stack .m-icon.is-absolute {
    margin-top: -18px;
  }
}
.m-button {
  margin: 0;
  padding: 0;
  /*font-family    : $font-family;*/
  border: 0;
  border-spacing: 0;
  position: relative;
  background: none;
  outline: 0;
  cursor: pointer;
  text-indent: 0;
  z-index: 1;
  text-rendering: auto;
  text-transform: none;
  speak: none;
  display: inline-block;
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px 0;
  font-size: 13px !important;
  color: #FFF;
  line-height: 22px;
  border: 1px solid transparent;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  /* color */
}
..m-icon {
  top: -1px;
  margin-right: 2px;
  position: relative;
}

/* loading */
.b-loading {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  visibility: visible;
  position: absolute;
  z-index: 99999;
  overflow: hidden;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -ms-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}
.b-loading.is-relative {
  position: relative;
  min-height: 70px;
}
.b-loading.is-fixed {
  position: fixed;
}
.b-loading.is-hide {
  display: none;
}
.b-loading.is-mask:before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  position: absolute;
  z-index: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
.b-loading:after {
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 60px;
  height: 60px;
  border: 2px solid #FFF;
  border-bottom-color: #0A4;
  position: absolute;
  z-index: 2;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-animation: rotate 1s linear 0s infinite;
  -webkit-animation: rotate 1s linear 0s infinite;
  animation: rotate 1s linear 0s infinite;
}
.b-loading .m-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: #0A4;
  width: 36px;
  height: 36px;
  font-size: 36px;
  position: absolute;
  z-index: 3;
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

