//- page laytout name
extends _layout.pug

block pageInfo
    //- - var pageTitle = "先潮耐力賽挑戰駕駛技術抽任天堂Switch等多項好禮！"
    //- - var pageDesc = "挑戰 ALL NEW SENTRA《先潮耐力賽》即可抽Switch、7-11實體禮券$100元...等好禮"
    - var pageJs = "index.js"
    - var isVue = true
//- page html
block page_main
    section.index
        canvas#canvas
        //- .startbtn Start
        //- .decoarr
        //-     img(src="images/game_arrow.png")
        //- .playbtn