nav.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
    div.l-container
        div.nav-bd
            h1.nav-logo
                a(href="index.html" alt="葡萄王生技" title="葡萄王生技" gtm-data="首頁_葡萄王官網")
                    img(src="images/logo.png" gtm-data="首頁_葡萄王官網")
            div.nav-btn
                div.one
                div.two
                div.three
            div.nav-menu(role="navigation")
                ul.clearfix
                    li.nav-item.nav-item--iscurrent
                        a(href="javascript:void(0)" alt="發票登錄" itemprop="url" title="發票登錄" gtm-data="menu_發票登錄"): span 發票登錄
                    li.nav-item
                        a(href="game.html" alt="一指之力精彩無限" itemprop="url" title="一指之力精彩無限" gtm-data="menu_一指抽大獎"): span 一指之力 精彩無限
                    li.nav-item.nav_events
                        a(href="javascript:void(0)" alt="活動辦法" itemprop="url" title="活動辦法" @click="scrollTo('#events')" gtm-data="menu_活動辦法"): span 活動辦法
                    li.nav-item
                        a(href="award.html" alt="得獎名單" itemprop="url" title="得獎名單" gtm-data="menu_得獎名單"): span 得獎名單
                    li.nav-item
                        a(href="https://eshop.grapeking.com.tw/" target="_blank" alt="葡萄王購健康" itemprop="url" title="葡萄王購健康" gtm-data="menu_葡萄王購健康"): span 葡萄王購健康