//- page laytout name
extends _layout.pug

block pageInfo
    - var pageTitle = "感恩回饋 現金50倍 | 葡萄王50週年慶"
    - var pageDesc = "即日起至12/24，登錄發票抽最高20萬元大獎！測驗你的大腦年齡再抽多項好禮！"
    - var isVue = true
    - var pageJs = "index.js"
//- page html
block page_main
    section.index
        .kv
            .kvbd
                .slogn
                    a(href="javascript:void(0)" @click="scrollTo('#events')")
                        img(src="images/slogn.png")
                .kvpeo
                    a(href="javascript:void(0)" @click="scrollTo('#events')")
                        img(src="images/kvpeo.png")
                .kvbtn
                    .btn_game
                        a(href="game.html"  title="一指之力精彩無限" gtm-data="首頁_一指抽大獎")
                            img(src="images/btn-game.gif" alt="一指之力精彩無限" gtm-data="首頁_一指抽大獎")
                    .btn_invoice
                        a(href="invoice.html" title="發票登錄" gtm-data="首頁_發票登錄")
                            img(src="images/btn-invoice.gif" alt="發票登錄" gtm-data="首頁_發票登錄")
            .kvft
                .kvprods
                    img(src="images/kv-prods.png")
        .bd#events(v-if="dataShow")
            .block1
                h2
                    img(src="images/events-b1-title.png")
                p 即日起至2019/12/24，購買葡萄王保健食品，登錄完整發票號碼及個人相關資料後，即可參加抽獎
                //- p.ps *發票消費不含觀光工廠DIY體驗活動、機能飲料系列-康貝特、黃金康貝特、康貝特200P、PowerBOMB
                .content
                    .award-long
                        .title
                            h2 加倍奉還獎
                        ul
                            li
                                h3 最高現金20萬
                                p 活動結束後抽出1名
                                img(src="images/award-1.png")
                            li
                                h3 最高現金4萬
                                p 活動結束後抽出3名
                                img(src="images/award-2.png")
                        .line
                        .ps *發票金額計算上限為4000元
                    .award.fryer
                        .flag
                            img(src="images/week-l.png", alt="")
                        .title
                            h2 平心靜氣獎
                        .content
                            .left
                                h3 PHILIPS
                                p HD9642渦輪氣旋健康氣炸鍋
                                    br
                                    | 每週三抽出1名，共12名
                            .right
                                img(src="images/award-3.png")
                    .award.dryer
                        .flag
                            img(src="images/week-l.png", alt="")
                        .title
                            h2 神采飛揚獎
                        .content
                            .left
                                h3 Panasonic
                                p EH-NA9A奈米水離子吹風機
                                    br
                                    | 每週三抽出1名，共12名
                            .right
                                img(src="images/award-4.png")
                    .award.detachment 
                        .flag
                            img(src="images/week-l.png", alt="")
                        .title
                            h2 一夜好眠獎
                        .content
                            .left
                                h3 IRIS
                                p IC-FAC2 3.0 除蟎機
                                    br
                                    | 每週三抽出1名，共12名
                            .right
                                img(src="images/award-5.png")
                    .award.d500
                        .flag
                            img(src="images/week-l.png", alt="")
                        .title
                            h2 王品好食獎
                        .content
                            .left
                                h3 王品集團
                                p 500元即享券
                                    br
                                    | (特定品牌使用)
                                    br
                                    | 每週三抽出10名，共120名
                            .right
                                img(src="images/award-6.png")
                    .award.burger
                        .flag
                            img(src="images/week-l.png", alt="")
                        .title
                            h2 健康早餐獎
                        .content
                            .left
                                h3 摩斯漢堡
                                p 早餐兌換券(火腿歐姆蛋堡 / 蕃茄
                                    br
                                    | 吉士蛋堡 / 培根雞蛋堡 三選一 + 
                                    br
                                    | 冰紅茶(L)一份)每週三抽出
                                    br
                                    | 25名，共300名
                            .right
                                img(src="images/award-7.png")
                    .award.cama
                        .flag
                            img(src="images/week-l.png", alt="")
                        .title
                            h2 經典咖啡獎
                        .content
                            .left
                                h3 cama cafe
                                p 中杯經典拿鐵兌換券
                                    br
                                    | 每週三抽出40名，共480名
                            .right
                                img(src="images/award-8.png")
            .block2
                h2
                    img(src="images/events-b2-title.png")
                p 即日起至2019/12/24，凡參加線上《一指之力 精彩無限》並完成FB公開分享者，即可參加抽獎。
                .content
                    ul
                        li
                            .txt
                                h3 Toffy
                                p 三合一多功能食物調理機
                                    br
                                    | K-FP1-PA
                                    br
                                    | 活動結束後抽出1名
                            .img
                                img(src="images/award-9.png")
                                .quantity
                                    p x1
                        li
                            .flag
                                img(src="images/month-l.png", alt="")
                            .txt
                                h3 威秀影城
                                p 雙人威秀電影票
                                    br
                                    | 每月6號抽出16名，共48名
                            .img
                                img(src="images/award-10.png")
                                .quantity
                                    p x48
                        li
                            .flag
                                img(src="images/month-l.png", alt="")
                            .txt
                                h3 SOGO
                                p 100元禮券
                                    br
                                    | 每月6號抽出32名，共96名
                            .img
                                img(src="images/award-11.png")
                                .quantity
                                    p x96
        .ft(v-if="dataShow")
            h2(@click="popNote=!popNote" :class="{active: popNote}") 注意事項
            transition(name="fade")
                .content(v-if="popNote")
                    ul
                        li 
                            span.bold 活動一《發票登錄抽大獎》
                            br
                            | 於活動期間內，凡在台灣境內購買任一葡萄王保健產品（不限金額，但觀光工廠DIY體驗活動、機能性飲料-康貝特、黃金康貝特、康貝特200P、PowerBOMB除外），憑該筆發票至
                            a(href="https://campaign.friendo.com.tw/Grapeking50th/index.html" target="_blank") 活動網站
                            | 輸入該筆消費之完整發票號碼及填寫相關個人身份資料，即可參加本抽獎活動。
                            br
                            | ※若電子發票存於載具，請務必於購買商品時告知店家印出紙本發票及明細以利中獎後續兌換事宜。
                        li 
                            span.bold 活動二《一指之力 精彩無限》
                            br
                            | 於活動期間內，於
                            a(href="https://campaign.friendo.com.tw/Grapeking50th/index.html" target="_blank") 活動網站
                            | 完成測驗遊戲並於臉書公開分享，即可參加本抽獎活動。
                    ul.one
                        li 活動期間
                            br
                            | 1. 發票開立日期需介於2019年10月1日00:00至2019年12月24日23:59止，發票登錄最遲應於2019年12月24日23:59前完成。
                            br
                            br
                            | 2. 本發票登錄活動之開放時間，自2019年10月2日17:00至2019年12月24日23:59止。
                        li 抽獎獎項
                            h3 《發票登錄抽大獎》
                            p.bold 加倍奉還獎
                            ul.five
                                li 【加倍奉還獎50倍】憑發票上葡萄王保健食品之總金額乘以50倍，最高現金20萬，活動結束後抽出1名
                                    br
                                    | （*發票金額計算上限為4,000元）
                                li 【加倍奉還獎10倍】憑發票上葡萄王保健食品之總金額乘以10倍，最高現金4萬，活動結束後抽出3名
                                    br
                                    | （*發票金額計算上限為4,000元）
                            p.bold 平心靜氣獎
                            ul.five
                                li 【Philips HD9642渦輪氣旋健康氣炸鍋】每週三抽出1名，共12名
                            p.bold 神采飛揚獎
                            ul.five
                                li 【Panasonic/EH-NA9A奈米水離子吹風機】每週三抽出1名，共12名
                            p.bold 一夜好眠獎
                            ul.five
                                li 【日本IRIS除蟎機IC-FAC2 3.0小全配組】每週三抽出1名，共12名
                            p.bold 王品好食獎
                            ul.five
                                li 【王品集團500元即享券】每週三抽出10名，共120名
                            p.bold 健康早餐獎
                            ul.five
                                li 【摩斯漢堡】早餐兌換券(火腿歐姆蛋堡 / 蕃茄吉士蛋堡 / 培根雞蛋堡 三選一 + 冰紅茶(L)一份)，每週三抽出25名，共300名
                            p.bold 經典咖啡獎
                            ul.five
                                li 【Cama Café 中杯經典拿鐵兌換券】每週三抽出40名，共480名
                            h3 《一指之力 精彩無限》
                            ul.five
                                li 【日本Toffy三合一多功能食物調理機K-FP1-PA】活動結束後抽出1名
                                li 【威秀影城 雙人威秀電影票】每月6號抽出16名，共48名
                                li 【SOGO 100元禮券】每月6號抽出32名，共96名
                        li 中獎公告
                            ul.six
                                li 《活動結束後抽出》
                                    br
                                    | 加倍奉還獎、Toffy三合一多功能食物調理機K-FP1-PA，將以電腦隨機方式抽獎，並於2020年1月6日(一)於活動網站公布得獎名單。
                                li 《週週抽》
                                    br
                                    | 平心靜氣獎、神采飛揚獎、一夜好眠獎、王品好食獎、健康早餐獎、經典咖啡獎，將以電腦隨機方式抽獎，並於10/16起的每週三於活動網站公布得獎名單。（最後一週12/18-12/24的得獎者，將統一於2020年1月6日公佈）
                                li 《月月抽》
                                    br
                                    | 威秀雙人電影票、SOGO 100元禮券，將以電腦隨機方式抽獎，並於每月6號於活動網站公布得獎名單。（12月份得獎者將統一於2020年1月6日公佈）
                        li 其他活動注意事項
                            ul.six
                                li 活動資格：
                                    ul.three
                                        li(data-list="1") 活動時間自2019年10月1日00:00至2019年12月24日23:59截止，發票登錄最遲應於2019年12月24日23:59前完成。
                                        li(data-list="2") 本活動僅限登錄紙本電子發票，且消費日期應在本活動期間內。若電子發票存於載具，請務必於消費時請店家印出紙本發票及明細。同一組有效發票號碼僅限登錄一次，並獲得《發票登錄抽大獎》一次抽獎與中獎機會。
                                        li(data-list="3") 活動期間內凡在台灣境內購買任一葡萄王保健產品（不限金額，但觀光工廠DIY體驗活動、機能性飲料-康貝特、黃金康貝特、康貝特200P、PowerBOMB除外），至活動網站登錄該發票，即可參加本抽獎活動。
                                        li(data-list="4") 本次活動相關執行廠商公司之員工，不得參加本次活動。
                                li 得獎注意事項：
                                    ul.three
                                        li(data-list="1") 加倍奉還獎：得獎者應於2020/1/15(三)前，將收款帳號存摺影本、得獎之發票影本(須於影本上註明與『發票正本相符』字樣並親簽)以掛號寄至臺北市中山區松江路207號10樓 春樹科技股份有限公司_葡萄王50週年活動小組收，收件截止日以郵戳為憑，逾時即喪失資格。發票須附上購買明細，以做為領獎憑證。得獎金額超過1,000(含)以上，應再附上機會中獎回覆函，主辦單位確認兌獎資格無誤後將以匯款方式進行，同時匯款金額會扣除代扣稅額。
                                        li(data-list="2") 平心靜氣獎、神采飛揚獎、一夜好眠獎：得獎者應於得獎公告後七天內至活動網站下載機會中獎回覆函填寫，連同得獎之發票影本(須於影本上註明與『發票正本相符』字樣並親簽)以掛號寄至臺北市中山區松江路207號10樓 春樹科技股份有限公司_葡萄王50週年活動小組收，收件截止日以郵戳為憑，逾時即喪失資格。發票須附上購買明細，以做為領獎憑證。主辦單位確認兌獎資格無誤後，將於一個月內以郵局掛號寄出。
                                        li(data-list="3") Toffy三合一多功能食物調理機K-FP1-PA：得獎者應於得獎公告後七天內至活動網站下載機會中獎回覆函填寫，以掛號寄至臺北市中山區松江路207號10樓 春樹科技股份有限公司_葡萄王50週年活動小組收，收件截止日以郵戳為憑，逾時即喪失資格。主辦單位確認兌獎資格無誤後，將於一個月內以郵局掛號寄出。
                                        li(data-list="4") 王品好食獎、健康早餐獎、經典咖啡獎、雙人威秀電影票、SOGO 100元禮券：主辦單位於得獎公告後一個月內，以簡訊通知得獎者兌換券之電子序號，各項兌換券使用方式請詳閱票券上使用說明。
                                        li(data-list="5") 本活動獎品不得折換現金，本公司就活動獎項內容得依實際狀況斟酌調整，並保留隨時修改、變更、終止或暫停本活動及替換其他等值贈品之權利。
                                        li(data-list="6") 春樹科技股份有限公司一概以本活動參加者所提供之個人資料寄送得獎贈品，中獎者請務必提供真實、完整之領獎資料，以便進行領獎作業。如因資料錯誤或不正確，導致無法通知得獎訊息、確認得獎者或獎品寄送後遭退回，皆將視為棄權。
                                        li(data-list="7") 若中獎者因資格不符或自願放棄中獎資格者，不另行網路公告，未滿20歲之中獎者，應取得監護人之同意並由監護人代為領取，並請附上中獎者及其代領人關係證明影本，如中獎者遲未能補足資料之情形，將視為棄權，主辦單位亦不再另行通知。
                                        li(data-list="8") 活動參加者有下列情形之一時，主辦單位得取消其得獎資格：
                                            ul.four
                                                li 違反本活動之活動辦法及相關注意事項之行為。
                                                li 提供之資料為非真實或冒用第三人之資料。
                                                li 提供之資料未填寫完整正確之中文姓名、聯絡電話及可收掛號信之郵寄地址。
                                        li(data-list="9") 活動獎項將以包裹郵寄，在郵寄或運送過程中，非可歸責於春樹科技股份有限公司之事由所造成的毀壞、遲遞、錯遞或遺失，春樹科技股份有限公司及葡萄王生技股份有限公司不負賠償責任。中獎者未於郵局或宅配通知招領截止日期前領取獎品或通知信函者，視同放棄，其得獎資格將被取消。主辦方保留全權處理任何未頒發的活動獎項之權利。
                                        li(data-list="10") 如因電腦病毒、駭客入侵、技術失誤、數據遺失、網路擠塞等網路技術的任何因素，以致遞交資料缺失或抽獎活動無法進行，春樹科技股份有限公司無需承擔任何責任。
                                        li(data-list="11") 依中華民國稅法規定，獎項金額超過新台幣1,000元，中獎人須依規定填寫並繳交中獎收據，主辦單位將開立各類所得扣繳憑單給得獎者，並依稅法規定代扣機會中獎稅。中獎者若無法配合填寫並繳交中獎收據，視為中獎者自動棄權且不具得獎資格。另中獎獎品價值超過新台幣 20,010 元(含)以上者，應自行負擔機會中獎所得稅，依法應預先扣繳10%稅金。(詳細則請見機會中獎回覆函)
                                        li(data-list="12") 本抽獎活動獎品寄送(宅配)地點限於台灣本島、澎湖馬公本島、金門本島與小金門本島。
                                li 本活動辦法如有未盡事宜，主辦單位保留增訂、變更、刪除或終止活動內容獎項等活動內容之權利，修改訊息將於活動網站中公佈，不須另行通知或取得參賽得獎者同意。若參加者不接受本活動於任何時間對本活動內容條款修改或變更後的結果，參加者得放棄其參加資格。
                                li 主辦方有權檢視各活動參與者之參與行為及中獎情形是否涉嫌不法或有違常理之異常狀況，例：人為操作蓄意偽造、短時間異常多筆參與行為、透過任何電腦程式參與活動、詐欺或以任何其他不正當的方式意圖以進行不實或虛偽活動參與行為、或登錄資料不實或不正確或盜用任何第三人之資料，或有違反活動規範之行為，活動參與者因上述情形所獲得之活動資格及獎品，主辦方及活動小組保有變更、終止其參加活動資格、取消中獎資格或暫停活動的權利，並保留法律追訴權。
                                li 所有參加本活動者於提供或填寫個人資料後，視為同意主辦方得將其個人資料於本活動目地範圍內蒐集、處理暨使用之。主辦方僅使用參與者所提供之個人資料於此次活動用途，且遵守【個人資料保護法】相關規定，以維護參與者權益。得獎者授權主辦方公開公佈姓名。
                                li 本活動由葡萄王生技股份有限公司舉辦，並委由春樹科技股份有限公司製作執行，春樹科技股份有限公司保留審核參加及中獎資格，決定修正及變更活動內容之權利。消費者如有任何疑問，請於星期一至星期五10:00~18:00撥打活動專線(02)-7702-8887詢問，或Email至
                                    a(href="mailto:service@friendo.com.tw" target="_blank") service@friendo.com.tw
                                    | 。
                                li 蒐集利用個人資料告知事項：
                                    p 春樹科技股份有限公司舉辦上述活動，為進行蒐集、處理及利用個人資料，特依「個人資料保護法」第八條之規定，告知擬參加之消費者下列事項：
                                    ul.four
                                        li 蒐集人：春樹科技股份有限公司。
                                        li 目的：行銷、贈獎及其相關事項。
                                        li 個資類別：C001辨識個人者。如姓名、住址、電話、行動電話等。C003政府資料中之辨識者：如身分證統一編號等。及C011個人描述：年齡、性別、出生年月日等。
                                        li 個資利用之期間、地區、對象及方式：由蒐集人及活動主辦單位，於活動期間(自2019年10月1日起至抽獎活動結束且獎項寄送等後續相關程序執行完畢)在台灣地區就贈獎活動之相關事項使用個資。
                                        li 參加人得以畫面或電子郵件查詢，或請求閱覽、製給複本、請求補充或更正、請求停止蒐集、處理或利用、請求刪除。如得獎者不願意或未提供正確之個人資料將被取消中獎資格。
                                        li 春樹科技股份有限公司將尊重參加人之權益，絕不逾越上述特定目的之必要範圍，從事蒐集、處理及利用參加人個人資料，且非經同意，亦絕不任意竄改或洩漏或提供第三人使用。若有逾越上述特定目的之必要範圍之蒐集、處理及利用，春樹科技股份有限公司將事先以書面、電子郵件、傳真或其他適當方式通知並取得參加人書面之同意。
                                        li 本人參與本活動即視為本人已瞭解活動主辦方以上告知事項，並已清楚瞭解活動蒐集、處理及利用本人個人資料之目的及用途，並同意主辦方於上述告知事項範圍內，得蒐集、處理、國際傳遞及利用本人資料。
                        li 本網站受reCAPTCHA保護，適用Google
                            a(href="https://policies.google.com/privacy" target="_blank") 隱私政策
                            | 和
                            a(href="https://policies.google.com/terms" target="_blank") 服務條款
                            | 。

