.registry {
    position: relative;
    .logo {
        background: url(../images/logo.png) 0 0 no-repeat;
        width: 89px;
        height: 101px;
        position: absolute;
        top: 0;
        left: 42px;
    }
    .form1area {
        // height: 1313px;
        position: relative;
        .form1__bg {
            background: url(../images/registry-bg.png) 0 0 no-repeat;
            background-size: 100% auto;
            min-height: 100vh;
            position: relative;
        }
        form {
            margin: 30px 0 0 0;
            li {
                color: #00479d;
                margin: 0 0 25px 0;
                font-size: 30px;
                font-weight: bold;
                input {
                    border: 0;
                    border-radius: 10px;
                    background: url(../images/input-bg.png) 0 0 no-repeat;
                    color: #666;
                    height: 70px;
                    width: 100%;
                    margin: 10px 0 0 0;
                    padding: 0 0 0 10px;
                }
                input::placeholder {
                    color: #ddd;
                }
                select {
                    border: 0;
                    border-radius: 10px;
                    background: url(../images/input-bg.png) 0 0 no-repeat;
                    color: #666;
                    text-align: center;
                    height: 70px;
                    margin: 0 10px;
                    padding: 0 20px;
                    &:nth-child(1) {
                        margin-left: 0;
                    }
                }
                input[type="checkbox"] {
                    border: 5px solid #00479d;
                    border-radius: 3px;
                    width: 30px;
                    height: 30px;
                }

                input[type="checkbox"]:checked{
                    background: #000;
                }

                .selectbox {
                    margin: 10px 0 0 0;
                }
                .sp {
                    font-size: 22px;
                    color: #535353;
                }
            }
            .platebox {
                padding: 0 0 0 50px;
                #plate {
                    width: 290px;
                }
            }
            .agreebox {
                font-size: 24px;
                font-weight: bold;
                label {
                    vertical-align: text-top;
                }
                p {
                    text-align: center;
                    font-size: 24px;
                    font-weight: 600;
                    margin: 15px 0 0 0;
                    a {
                        color: #b91933;
                        text-decoration: underline;
                    }
                }
            }
            .submitbox {
                text-align: center;
                margin: 30px 0 0 0;
                .submit-btn {
                    border: 0;
                    background: url(../images/btn-confirm.png) 0 0 no-repeat;
                    cursor: pointer;
                    color: #fff;
                    font-size: 36px;
                    font-weight: bold;
                    width: 413px;
                    height: 95px;
                    span{
                        display: block;
                        margin-bottom: 8px;
                    }
                }
            }
        }
        .notearea {
            padding: 40px 60px;
            .note__title {
                color: #00479d;
                cursor: pointer;
                text-align: center;
                font-size: 60px;
                font-weight: bold;
                &:after {
                    background: url(../images/note-icon-close.png) 0 0 no-repeat;
                    content: "";
                    display: inline-block;
                    width: 56px;
                    height: 56px;
                    margin: 0 0 0 15px;
                    vertical-align: top;
                }
                &--active {
                    &:after {
                        background: url(../images/note-icon-open.png) 0 0 no-repeat;
                        content: "";
                        display: inline-block;
                        width: 56px;
                        height: 56px;
                        margin: 0 0 0 15px;
                        vertical-align: top;
                    }
                }
            }
            ul {
                padding: 30px 0 0 0;
                li {
                    color: #00479d;
                    list-style-type: decimal;
                    font-size: 24px;
                    font-weight: 600;
                    line-height: 36px;
                    margin: 0 0 25px 15px;
                    padding: 0 0 0 15px;
                }
            }
        }
    }
    .form2area {
        background: url(../images/registry-bg-2.png) 0 0 no-repeat;
        background-size: 100% auto;
        min-height: 100vh;
        height: 1092px;
        position: relative;
        form {
            ul {
                margin: 15px 0 0 0;
                li {
                    color: #00479d;
                    font-size: 30px;
                    font-weight: bold;
                    margin: 0 0 15px 0;
                    p {
                        font-size: 30px;
                        font-weight: bold;
                        span {
                            color: #313131;
                            margin: 0 0 0 40px;
                            font-family: Arial, Helvetica, sans-serif;
                            letter-spacing: 5px;
                        }
                    }
                    input {
                        border: 0;
                        border-radius: 10px;
                        background: url(../images/input-bg.png) 0 0 no-repeat;
                        color: #666;
                        height: 70px;
                        width: 100%;
                        margin: 10px 0 0 0;
                        padding: 0 0 0 10px;
                    }
                    input::placeholder {
                        color: #ddd;
                    }
                    #otp {
                        text-align: center;
                    }
                    .btn-send {
                        border: 0;
                        background: url(../images/btn-send.png) 0 0 no-repeat;
                        cursor: pointer;
                        color: #fff;
                        width: 225px;
                        height: 95px;
                        margin: 0 20px 0 0;
                        text-align: left;
                        padding: 0 0 0 20px;
                        font-size: 32px;
                        font-weight: bold;
                    }
                    .btn-resend {
                        border: 0;
                        background: url(../images/btn-resend.png) 0 0 no-repeat;
                        cursor: pointer;
                        color:#fff;
                        width: 225px;
                        height: 95px;
                        position: relative;
                        vertical-align: top;
                        .txt {
                            position: absolute;
                            top: 25px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 100%;
                            font-size: 26px;
                            font-weight: bold;
                        }
                        .second {
                            color:#fff;
                            font-size: 16px;
                            position: absolute;
                            top: 55px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
                .refixarea {
                    text-align: right;
                    .btn-refix {
                        border: 0;
                        cursor: pointer;
                        background: url(../images/btn-refix.png) 0 0 no-repeat;
                        width: 106px;
                        height: 60px;
                    }
                }
            }
            .readmetxt {
                margin: 0;
                li {
                    list-style-type: initial;
                    line-height: 30px;
                    font-size: 21px;
                    font-weight: bold;
                    margin: 0 0 5px 15px;
                    letter-spacing: 0;
                    p {
                        font-size: 21px;
                        font-weight: bold;
                        letter-spacing: -1px;
                        .red {
                            color: #b91933;
                            margin: 0;
                            letter-spacing: -1px;
                        }
                    }
                }
            }
        }
    }
    &__hd {
        padding: 40px 0 0 0;
    }
    &__title--form1 {
        background: url(../images/registry-title.png) 0 0 no-repeat;
        width: 520px;
        height: 390px;
        margin: 0 auto;
        @extend .hideText;
    }
    &__title--form2 {
        background: url(../images/registry-title-2.png) 0 0 no-repeat;
        width: 520px;
        height: 340px;
        margin: 70px auto 0;
        @extend .hideText;
    }
    &__bd { 
        padding: 10px 70px 120px;
        &.ns-owner {
            padding: 10px 70px;
        }
    }
    .icon {
        &__person {
            background: url(../images/icon-person.png) center bottom no-repeat;
            display: inline-block;
            width: 35px;
            height: 35px;
            text-align: center;
            vertical-align: bottom;
            margin: 0 10px 0 0;
        }
        &__date {
            background: url(../images/icon-date.png) center bottom no-repeat;
            display: inline-block;
            width: 35px;
            height: 35px;
            text-align: center;
            vertical-align: baseline;
            margin: 0 10px 0 0;
        }
        &__mobile {
            background: url(../images/icon-mobile.png) center bottom no-repeat;
            display: inline-block;
            width: 35px;
            height: 35px;
            text-align: center;
            vertical-align: bottom;
            margin: 0 10px 0 0;
        }
    }
    .opacity80 {
        opacity: 0.6;
    }
}
