nav.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
    div.nav-top
        div.l-container
            a.nav-logo(href="index.html" alt="元大期貨" title="元大期貨Yuanta") 
    div.nav-bottom
        div.l-container.clearfix
            div.nav-btn
                div.one
                div.two
                div.three
            div.nav-menu(role="navigation")
                ul.clearfix
                    li.nav-item.nav-item--iscurrent
                        a(href="index.html" alt="首頁" itemprop="url" title="項目"): span 首頁
                    li.nav-item
                        a(href="index.html" alt="抽獎專區" itemprop="url" title="抽獎專區"): span 抽獎專區
                    li.nav-item
                        a(href="index.html" alt="線上開戶" itemprop="url" title="線上開戶"): span 線上開戶
                    li.nav-item
                        a(href="index.html" alt="得獎公告" itemprop="url" title="得獎公告"): span 得獎公告
                    li.nav-item
                        a(href="index.html" alt="活動辦法" itemprop="url" title="活動辦法"): span 活動辦法  
                    li.nav-item.nav-item--isOpen
                        a(href="index.html" alt="登出" itemprop="url" title="登出"): span 登出