//- page laytout name
extends _layout.pug

//- page html
block page_main
    section.index
        div.kvarea
            div.l-container
                div.kvbg
                div.kvbglight
                div.kvframe
                div.kvpeo-1
                div.kvword-1
                div.kvpeo-2
                div.kvword-2
                h1.kv-title 外幣富豪俱樂部業界最多貨幣對小額投資變富豪
                a(href="javascript:" alt="" title="" ).btn.kv-btn 立刻登入抽豪禮
                a(href="javascript:" alt="" title="" style="display:none;" ).btn.kv-btn 我的抽獎專區 
                div.kv-item1 iPhone最新款
                div.kv-item2 Gogoro2
                div.kv-item3 美國雙人來回機票
                a(href="javascript:" alt="" title="").kvmore
                    span.down
        div.videoarea
            div.l-container
                div.videopic
                h2.title 輕鬆投資變富豪
                div.videoplay
        div.eventarea
            div.l-container
                div.event-1
                    div.evpeo-1
                    div.box
                        div.box__hd
                        div.box__bd
                            h2.title 交易即抽好手氣
                            div.pic-1
                            div.row.clearfix
                                div.txt-title 活動期間 :
                                div.txt 即日起至2017/12/31
                            div.row.clearfix
                                div.txt-title 活動對象 :
                                div.txt 開立槓桿交易商帳戶之客戶
                            div.row.clearfix
                                div.txt-title 活動商品 :
                                div.txt 全系列貨幣對，共32種貨幣對商品
                            div.row.clearfix
                                div.txt-title 活動內容 :
                                div.txt.list-1
                                    ul
                                        li 於活動期間累積交易任一貨幣對累積達2手(含)以上，即可獲得1次抽獎機會，交易達4手(含)可獲得2次抽獎機會...以此類推，交易越多，中獎機會越大。
                                        li 凡交易EUR/USD、USD/JPY、GBP/USD、AUD/USD等四種熱門商品，	累積交易量達2手(含)即可獲得2次抽獎機會，累積交易量達4手(含)即可獲得4次抽獎機會，依此類推。
                            div.eventitem
                            div.row.clearfix.items
                                div.txt-title 獎項內容 :
                                div.txt.list-2
                                    ul
                                        li.clearfix
                                            div.items Gogoro 2 Plus
                                            div.cun 1台
                                        li.clearfix
                                            div.items iPhone 最新款
                                            div.cun 5台
                                        li.clearfix
                                            div.items Rimowa 行李箱
                                            div.cun 3組
                                        li.clearfix
                                            div.items 美國雙人來回機票
                                            div.cun 1份
                                        li.clearfix
                                            div.items 澳洲雙人來回機票
                                            div.cun 1份
                                        li.clearfix
                                            div.items 歐洲雙人來回機票
                                            div.cun 1份
                                        li.clearfix
                                            div.items 日本雙人來回機票
                                            div.cun 2份
                                        li.clearfix
                                            div.items 專屬機場接送折價券(來回)
                                            div.cun 20張
                                        li.clearfix
                                            div.items 7-11 購物金200元
                                            div.cun 100張
                                        li.clearfix
                                            div.items 咖啡兌換券
                                            div.cun 150張
                            a(href="javascript:" alt="" title="").btn.btngo 前往抽獎
                        div.box__ft
                div.event-2
                    div.box
                        div.box__hd
                        div.box__bd
                            h2.title 富豪入門禮
                            div.row.clearfix
                                div.txt-title 活動期間 :
                                div.txt 即日起至2017/12/31
                            div.row.clearfix
                                div.txt-title 活動對象 :
                                div.txt 從未於元大期貨開立槓桿保證金契約交易帳戶者
                            div.row.clearfix
                                div.txt-title 活動商品 :
                                div.txt 全系列貨幣對，共32種貨幣對商品
                            div.row.clearfix
                                div.txt-title 活動內容 :
                                div.txt.list-1 於活動期間，透過facebook或活動連結邀請好友開立「槓桿交易商帳戶」，被邀請者成功開戶並交易任一貨幣對累積交易量達1手(含)以上者，即可獲得7-ELEVEN CITY CAFÉ一杯及7-ELEVEN 200元商品抵用券，邀請者則可獲得7-ELEVEN CITY CAFÉ一杯。
                            table.tab-2
                                tr
                                    th 參加對象
                                    th 獎品
                                tr
                                    td 成功開戶者
                                    td 7-11 CITY CAFE
                                tr
                                    td 交易任一貨幣對累積交易量
                                        br 
                                        |達1手(含)以上者
                                    td 7-ELEVEN 200元商品抵用券(限領一次)
                            a(href="javascript:" alt="" title="").btn.btngo 我要開戶
                        div.box__ft
                    div.eventpic-1
                    div.eventpic-2
                    div.eventpic-3
                div.more
                    a(href="javascript:" alt="" title="").eventmore.eventmore--isOpen 詳細辦法
                    div(style="display:block").moretxt
                        ul
                            li 本交易競賽活動之各獎項領獎申請書在2018/1/31前截止收件(郵戳為憑)，主辦單位於2018/2/15前陸續將獎品寄出。
                            li 各獎項通知得獎者的聯絡方式，以得獎者於活動網站中所輸入的資料為依據。
                            li 獎項的寄送資料以得獎者於領獎申請書所提供的資料為依據，參加者請於填寫完個人資料後，再次確認。
                            li 若因留填資料不正確造成無法聯繫及寄送，或領獎時無法於時限內提供相關所需檢附資料不可歸責於主辦單位之事宜，則視為自動棄權，主辦單位不負責變更得獎者聯絡地址或得獎者姓名之責任，以避免產生以人頭戶冒領獎項之情況。
                            li 參加本活動所提供之個人資料，視同個資保護法授權同意可做為主辦單位及主辦單位之媒體行銷公司為本交易競賽活動之得獎資料核對、領獎聯絡通知、獎品兌領…等使用，無法提供資料的參加者或得獎者視同放棄獎項，不再另行通知，亦不補發。
                            li 參加者於參加本交易競賽活動之同時，即同意接受本交易競賽活動之規範。參加者保證所有填寫或提供之資料均為真實正確內容，未冒用或盜用任何第三人之資料，如有不實或不正確之情事，經確認後將無條件取消與本交易競賽活動相關之所有資格。如有致損害於主辦單位或其他任何第三人，參加者應負一切相關法律責任。
                            li 本交易競賽活動參加者如有任何因電腦、網路、電話、技術或不可歸責於主辦單位之事由，使參加者所寄出或登錄之資料有遲延、遺失、錯誤、無法辨識或毀損，導致資料無效之情況，主辦單位概不負任何法律責任，參加者或得獎者不得異議。
                            li 如有參加者以各類電腦程式等不當方式參與本交易競賽活動，主辦單位有權裁奪取消其抽獎資格，並由符合資格之其餘參加者中遞補得獎資格。
                            li 主辦單位就本交易競賽活動參加者之資格，保有審查之權利，若以不當之電腦程式或其他明顯違反活動公平性之方式，或經查核有不符合本交易競賽活動辦法之參加資格者，一經主辦單位發現或經第三人檢舉，主辦單位得以立即取消其得獎資格，追回獎金獎品，並得依法行使相關權利與追訴不法。
                            li 依中華民國所得稅法規定，舉凡中獎金額或獎項年度累計價值超過新台幣 1,000 元(含)以上，將列入本年度之個人綜合所得稅申報，主辦單位將於次年度開立扣繳憑單寄送予得獎者，得獎者應於兌獎時需繳交身分證正反面影本。另中獎獎品價值超過新台幣 20,000元(含)以上者，應自行負擔機會中獎所得稅，依法應預先扣繳 10% 稅金；外籍得獎人士不分金額依法應繳交20%機會中獎所得稅及居留證影本。因此，得獎者應將兌獎資料連同預繳稅金一併繳回，方得進行兌獎，拒繳交兌獎資料或稅金者，視同自願放棄中獎權利。
                            li 主辦單位有權使用獲獎者參賽期間相關交易紀錄，作為出版或廣宣使用。為保障投資人隱私，如未徵得獲獎者同意披露相關個人資訊將以匿名方式進行。
                            li 得獎者不得轉讓獎品於他人，非獎金類贈品亦不得要求折換現金或其他非主辦單位提供之商品，並同意主辦單位對獎項或獎品無需負擔產品責任與維修保固。
                            li 主辦單位保留修改活動與獎項細節的權利，無須事前通知，並有權對本交易競賽活動所有事宜作出解釋或裁決。如本交易競賽活動因不可抗力之特殊原因無法執行時，主辦單位有權決定取消、終止、修改或暫停本交易競賽活動。
                            li 獎品僅寄送台灣本島地區；寄送獎品過程中，若發生任何毀壞、錯遞、延遲或遺失、遭冒領或遭竊等喪失占有之情形等非主辦單位疏失所造成者，主辦單位恕不負責。
                            li 各類獎項均有領取期限，請得獎者自行注意時限，如逾期未領取，主辦單位恕不負責。
                        p.other 如有任何疑問請洽客服人員，服務專線：0800-333-338、電子信箱：leverage.brk@yuanta.com
                    a(href="javascript:" alt="" title="").btn.btnmore 了解更多外幣保證金