//- page laytout name
extends _layout2.pug

//- page html
block page_main
    section.mgm
        div.mgm__hd
            div.mgm__hdbg
                div.l-container
                    div.mgm__top
                        //- p.mgm__top-name 元大期貨
                        //-     span 
                        //-     |邀您
                        //- p.mgm__top-name 您的好友
                        //-     span 王小明
                        //-     |先生邀您
                        //- p.mgm__top-txt 邀請代碼為 : 
                        //-     span TYINBE
            div.l-container
                div.mgm__kv
                    div.mgm__kv-bg
                    div.mgm__kv-bglight
                    div.mgm__kv-frame
                    div.mgm__kv-peo-1
                    div.mgm__kv-word-1
                    div.mgm__kv-peo-2
                    div.mgm__kv-word-2
                    h1.mgm__kv-title 外幣富豪俱樂部業界最多貨幣對小額投資變富豪
                    div.mgm__kv-btnarea
                        a(href="javascript:" alt="" title="").btn.mgm__kv-btn 立即開戶
                        a(href="javascript:" alt="" title="").btn.mgm__kv-btn 更多獎項
                    a(href="javascript:" alt="" title="").kvmore
                        span.down
        div.mgm__bd
            div.l-container
                div.box
                    div.box__hd
                    div.box__bd
                        div.mgm__bd-msg 
                            a(href="javascript:" alt="" title="").btn.mgm__btnmore 更多獎項
                    div.box__ft