//- page laytout name
extends _layout.pug

block pageInfo
    - var pageTitle = "index"
    - var pageDesc = "pageDesc"
    - var pageJs = "index.js";
    //- - var compJs = ["comingsoon.js"]
//- page html
block page_main
    .module
        section.index
            #canvas
            //- video(onloadedmetadata="onPlay(this)" autoplay muted playsinline)#inputVideo
            video(width="720" height="560" autoplay muted playsinline)#inputVideo
            #webcanvas
            //- .test
            //- img(src="images/test.png")