//- page laytout name
extends _layout.pug

block pageInfo
    - var pageTitle = "index"
    - var pageDesc = "pageDesc"
    - var pageJs = "index.js";
    //- - var compJs = ["comingsoon.js"]
//- page html
block page_main
    .module
        section.index
            #canvas