//page laytout name
extends _layout.jade

//page html
block page_main
    section.about
        section.about__head
            div.about__title 關於粉多集點卡
            div.l-container
                div.data__txt 餐廳用餐&便利商店消費&搭車交通，
                    br
                    | 粉多集點卡，最輕鬆集點的集點APP
        section.about__body
            div.l-container
                div.events__txt__box
                    dt.events__list__icon.events__list__icon--icon2
                    dl.events__list__txtarea
                        h2.events__list__step-title.pink 掃描產品電子發票QR Code，點數1秒輕鬆集
                        p.events__list__step-txt 不限通路購買合作品牌產品，掃描電子發票即享點數回饋。
                div.events__txt__box
                    dt.events__list__icon.events__list__icon--icon3
                    dl.events__list__txtarea
                        h2.events__list__step-title.pink 報上手機號碼就能集，不再擔心遺失集點卡
                        p.events__list__step-txt 於特約店家報上手機號碼，不須開啟App就能立刻集點。
                div.events__txt__box
                    dt.events__list__icon.events__list__icon--icon1
                    dl.events__list__txtarea
                        h2.events__list__step-title.pink 一卡通在手，吃喝玩樂消費回饋通通有
                        p.events__list__step-txt 不只日常大眾通勤，生活消費都能集。
                div.storearea
                    div.download 立即下載，粉多集點卡
                    a.store__icon.store__icon--icon1(href="javascript:") App Store
                    a.store__icon.store__icon--icon2(href="javascript:") Google Play
                    div.img__search 請上網搜尋粉多集點卡
