//page laytout name
extends _layout.jade

//page html
block page_main
    section.award
        section.award__head
            div.award__title 得獎公告
        section.award__body
            div.l-container
                //公告前
                div.award--before
                    p.events__txt__title 
                        i.events__txt__icon
                        | 家樂福禮券10,000元
                    div.events__txt__box
                        dt.events__list__icon.events__list__icon--icon1
                        dl.events__list__txtarea
                            p.events__list__step-txt 於11/08 抽出幸運得主，請敬請期待。
                    p.events__txt__title
                        i.events__txt__icon 
                        | 家樂福禮券1,000元
                    div.events__txt__box
                        dt.events__list__icon.events__list__icon--icon2
                        dl.events__list__txtarea
                            p.events__list__step-txt 於10/18、11/08 抽出幸運得主，請敬請期待。
                    p.events__txt__title
                        i.events__txt__icon 
                        | 五星級飯店雞尾酒兌換券2張
                    div.events__txt__box
                        dt.events__list__icon.events__list__icon--icon3
                        dl.events__list__txtarea
                            p.events__list__step-txt 於10/18、11/08 抽出幸運得主，請敬請期待。
                //公告後
                div.award--after
                    p.events__txt__title
                        i.events__txt__icon 
                        | 家樂福禮券10,000元
                    div.events__txt__box
                        dt.events__list__icon.events__list__icon--icon1
                        dl.events__list__txtarea
                            div.events__list__step-txt 
                                div.name 王X明
                                div.tel 0988-XXX-547
                    p.events__txt__title
                        i.events__txt__icon 
                        | 家樂福禮券1,000元
                    div.events__txt__box
                        dt.events__list__icon.events__list__icon--icon2
                        dl.events__list__txtarea
                            div.date 10/18 :
                            div.events__list__step-txt 
                                div.name 王X明
                                div.tel 0988-XXX-547
                            div.events__list__step-txt 
                                div.name 王X明
                                div.tel 0988-XXX-547
                            div.events__list__step-txt 
                                div.name 王X明
                                div.tel 0988-XXX-547
                            div.date 11/08 :
                            p.events__list__step-txt 得獎名單尚未公布，請敬請期待。
                    p.events__txt__title
                        i.events__txt__icon 
                        | 五星級飯店雞尾酒兌換券2張
                    div.events__txt__box
                        dt.events__list__icon.events__list__icon--icon3
                        dl.events__list__txtarea
                            div.date 10/18 :
                            div.events__list__step-txt 
                                div.name 王X明
                                div.tel 0988-XXX-547
                            div.events__list__step-txt 
                                div.name 王X明明明明
                                div.tel 0988-XXX-547
                            div.events__list__step-txt 
                                div.name 王明
                                div.tel 0988-XXX-547
                            div.date 11/08 :
                            p.events__list__step-txt 得獎名單尚未公布，請敬請期待。
