//page laytout name
extends _layout.jade

//page html
block page_main
    section.products
        section.products__head
            div.products__title 通路優惠
            div.l-container
                a.products__kv(href="https://goo.gl/rts9jU" target="_blank") 任選ON:或麗奇，商品滿288立即送
        section.products__body
            div.l-container
                h1.title
                    span.pink 網路商城
                    | 特別合作販售
                div.events__txt__box
                    div.events__logo.events__logo--logo1
                    div.events__itembox
                        div.events__itembox__img.events__itembox__img--img1
                        div.events__itembox__txt
                            h3.events__list__title.pink On The Body
                            p.events__list__txt 經典香氛保濕
                                br
                                | 沐浴組
                            div.events__list__btnarea
                                a(href="https://www.momoshop.com.tw/goods/GoodsDetail.jsp?i_code=4500899&str_category_code=1106600073&mdiv=1106600073&Area=DgrpCategory" target="_blank").btn 前往選購
                                    i.btn__icon
                    div.events__itembox
                        div.events__itembox__img.events__itembox__img--img2
                        div.events__itembox__txt
                            h3.events__list__title.pink On The Body
                            p.events__list__txt 我愛媽咪買3送2
                                br
                                | 沐浴組
                            div.events__list__btnarea
                                a(href="https://www.momoshop.com.tw/goods/GoodsDetail.jsp?i_code=4729196&str_category_code=1106600073&mdiv=1106600073&Area=DgrpCategory" target="_blank").btn 前往選購
                                    i.btn__icon
                div.events__txt__box
                    div.events__logo.events__logo--logo2
                    div.events__itembox
                        div.events__itembox__img.events__itembox__img--img3
                        div.events__itembox__txt
                            h3.events__list__title.pink On The Body
                            p.events__list__txt 微甜馨香洗沐組
                            div.events__list__btnarea
                                a(href="https://tw.buy.yahoo.com/gdsale/ON-THE-BODY-%10%EF%BF%BD%EF%BF%BD%10%EF%BF%BD%5B%10%EF%BF%BD%5D%10%EF%BF%BD%EF%BF%BD%10%EF%BF%BD%EF%BF%BD%10%EF%BF%BD%EF%BF%BD%10%EF%BF%BDg-7077555.html" target="_blank").btn 前往選購
                                    i.btn__icon
                    div.events__itembox
                        div.events__itembox__img.events__itembox__img--img4
                        div.events__itembox__txt
                            h3.events__list__title.pink On The Body
                            p.events__list__txt 濟州島清爽潔淨
                                br
                                | 獨家3入組
                            div.events__list__btnarea
                                a(href="https://tw.buy.yahoo.com/gdsale/ON-THE-BODY-%10%EF%BF%BDZ%10%EF%BF%BDB%10%EF%BF%BD%EF%BF%BD%10%EF%BF%BD%EF%BF%BD%10%EF%BF%BDu%10%EF%BF%BD%EF%BF%BD%10%EF%BF%BD%EF%BF%BD%10%EF%BF%BD%EF%BF%BD%10%EF%BF%BD%EF%BF%BD3%10%EF%BF%BD%EF%BF%BD%10%EF%BF%BDg-7250380.html" target="_blank").btn 前往選購
                                    i.btn__icon
                div.events__txt__box
                    div.events__logo.events__logo--logo3
                    div.events__itembox
                        div.events__itembox__img.events__itembox__img--img5
                        div.events__itembox__txt
                            h3.events__list__title.pink On The Body
                            p.events__list__txt 滋潤限定沐浴
                                br
                                | 送身體乳組
                            div.events__list__btnarea
                                a(href="http://24h.pchome.com.tw/prod/DDCI0K-19008ELSB?q=/S/DDCI0K" target="_blank").btn 前往選購
                                    i.btn__icon
                    div.events__itembox
                        div.events__itembox__img.events__itembox__img--img6
                        div.events__itembox__txt
                            h3.events__list__title.pink On The Body
                            p.events__list__txt 濟州島柔嫩沐浴組
                            div.events__list__btnarea
                                a(href="http://24h.pchome.com.tw/prod/DDCI0K-19008ELSG?q=/S/DDCI0K" target="_blank").btn 前往選購
                                    i.btn__icon
