doctype
html(itemscope,itemtype="http://schema.org/Article" lang="zh-TW")
    //page default Information
    block pageInfo
        - var pageTitle = "首頁"
        - var pageDesc = "敘述"
    //html head
    include _head.jade
    //html body
    body
        div.l-wrap.l-wrap2#app
            include _nav.jade
            // render nav view
            block page_main
            //render main view
        div.l-footer.footer.footer-color-1
            div.l-container
                p Copyright@ 2017 Carrefour. All Rights Reserved.
        script(src="")
