//page laytout name

block pageInfo
    - var pageTitle = "家樂福BRIC'S活動"
    - var pageDesc = "家樂福敘述"
//page html
block page_main
    div.l-main
        extends _layoutPage.jade
        section.qa.page
            div.l-container
                div.qa-area
                    div.qa-content
                        ul
                            li
                                div.row.clearfix
                                    div.q-area
                                    h3.qa-title BRIC'S是何種材質製造呢?
                            li
                                div.row.clearfix
                                    div.a-area
                                    p.qa-txt 產品選用210D尼龍牛津布製成，材質柔軟，縫紉過程中可能出現些許的磨擦痕跡或摺痕為正常現象，不影響產品品質，外層更加以PVC塗層進行防潑水處理，增加耐用性。
                    div.qa-content
                        ul
                            li
                                div.row.clearfix
                                    div.q-area
                                    h3.qa-title BRIC'S該如何清潔呢?
                            li
                                div.row.clearfix
                                    div.a-area
                                    p.qa-txt 一般髒汙先用清水沾布輕輕擦拭，或者用中性清潔劑，千萬不要用洗衣機清洗，因為容易破壞原有的防潑水處理， 甚至破壞布料及金屬配件。不可水洗、不可漂白、不可烘乾、不可熨燙、不可乾洗。
                    div.qa-content
                        ul
                            li
                                div.row.clearfix
                                    div.q-area
                                    h3.qa-title BRIC'S為什麼不能放濡濕物品呢?
                            li
                                div.row.clearfix
                                    div.a-area
                                    p.qa-txt 因為長時間將濡濕物品長時間放在包袋內，可能會有染色或脫色的可能。
                    div.qa-content
                        ul
                            li
                                div.row.clearfix
                                    div.q-area
                                    h3.qa-title 為什麼BRIC'S內含的小金屬不宜接觸化學物品呢?
                            li
                                div.row.clearfix
                                    div.a-area
                                    p.qa-txt 因為金屬部份接觸含化學成份之氣液體，如酸鹼清潔劑、氯氣、鹽水、香水等，容易造成氧化而受損。
                    div.qa-content
                        ul
                            li
                                div.row.clearfix
                                    div.q-area
                                    h3.qa-title BRIC'S長期不使用時該如何收納呢?
                            li
                                div.row.clearfix
                                    div.a-area
                                    p.qa-txt 當產品長期不使用時，請在包包內部塞入包裝紙或其他替代物品來防止包包變形，並使用防塵袋放置在通風處保存防止發霉。
                    div.qa-content
                        ul
                            li
                                div.row.clearfix
                                    div.q-area
                                    h3.qa-title BRIC'S可以裝入重物嗎?
                            li
                                div.row.clearfix
                                    div.a-area
                                    p.qa-txt 不可以，因為產品承重不宜過重，避免接縫處脫線破裂而造成產品破損。
                    div.qa-content
                        ul
                            li
                                div.row.clearfix
                                    div.q-area
                                    h3.qa-title BRIC'S電腦包/公事包可以放進筆記型電腦嗎?
                            li
                                div.row.clearfix
                                    div.a-area
                                    p.qa-txt 可以。筆記型電腦是可以放進電腦包/公事包內，但電腦包/公事包功能為保護及防止筆記型電腦被異物刮損，但無法保證若筆記型電腦不小心掉落時不受損傷，僅能減少外部對筆記型電腦之衝擊，請消費者要自行小心保護。
                    div.dl-area.clearfix
                        h3.title 檢驗報告下載
                        a(href="../images/TUV材質檢驗報告.pdf" alt="" title="" target="_blank").dl-icon
                            div.dl-photo
                            p.dl-items TUV材質檢驗
                            div.dl-btn
                        a(href="../images/行李箱SGS檢驗報告.pdf" alt="" title="" target="_blank").dl-icon
                            div.dl-photo
                            p.dl-items 行李箱SGS檢驗
                            div.dl-btn
            a(href="#").btn-top

