.mdLoading{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    background: rgba(255,255, 255, 1.0);
    top: 0px;
    left: 0px;
    z-index: 10;
    .loadingBox{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        height: 100%;
        background: url(../images/feature-bg.jpg) 0 0 / cover no-repeat;
        .title{
            position: absolute;
            width: 450px;
            height: 120px;
            top: 50%;
            margin-top: -120px;
            left: 50%;
            margin-left: -225px;
            .titleBox{
                position: relative;
            }
        }
        .line2{
            width: 300px;
            height: auto;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
            @include rwd($mobile){
                width: 100px;
            }
        }
        .percentage{
            position: absolute;
            color:#ffffff;
            font-size: 3rem;
            font-family: sans-serif;
            top: 50%;
            width: 100%;
            text-align: center;
            left: 0;
            height: 75px;
            margin-top: -43px;
        }
        .progressBar{
            width: 100%;
            position: absolute;
            top: 50%;
            left: 0%;
            overflow: hidden;
            .progress{
                width: 0%;
                height: 0;
                background: #ffffff;
                transition-property: all;
                transition: 0.1s;
                // transition-delay: 0s;
                position: relative;
                // &:after {
                //     content: " ";
                //     background: url(../images/eva787-1.png) 0 0 no-repeat;
                //     background-size: cover;
                //     width: 300px;
                //     height: 133px;
                //     position: absolute;
                //     top: 0;
                //     right: 0;
                //     transform: translateX(100%);
                // }
            }
        }
    }
}
