nav.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
    div.l-container
        div.nav-bd
            h1.nav-logo
                a(href="index.html" alt="LOGO" title="LOGO")
                    img(src="images/logo.png")
            div.nav-btn
                div.one
                div.two
                div.three
            div.nav-menu(role="navigation")
                ul.clearfix
                    li.nav-item.nav-item--iscurrent
                        a(href="index.html" alt="首頁" itemprop="url" title="首頁"): span 首頁
                    li.nav-item
                        a(href="product.html" alt="仙草魅力再升級" itemprop="url" title="仙草魅力再升級"): span 仙草魅力再升級
                    li.nav-item
                        a(href="http://new.nissan.com.tw/nissan/cars/SENTRA" alt="完整車款資訊" itemprop="url" title="完整車款資訊" target="_blank"): span 完整車款資訊
                    li.nav-item
                        a(href="https://service.nissan.com.tw/testdrive/?modelId=SENTRA" alt="立即預約賞車" itemprop="url" title="立即預約賞車" target="_blank"): span 立即預約賞車
                    li.nav-item
                        a(href="award.html" alt="中獎名單" itemprop="url" title="中獎名單"): span 中獎名單