nav.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
    div.l-container
        div.nav-bd
            h1.nav-logo
                a(href="index.html" alt="LOGO" title="LOGO") LOGO
            div.nav-btn
                div.one
                div.two
                div.three
            div.nav-menu(role="navigation")
                ul.clearfix
                    li.nav-item
                        a(href="index.html" alt="省下「半桶水」捐給需要的人" itemprop="url" title="省下「半桶水」捐給需要的人"): span <div class="play-btn"></div>省下「半桶水」捐給需要的人
                    li.nav-item.nav-item--iscurrent
                        a(href="index.html" alt="立即協助" itemprop="url" title="立即協助"): span 立即協助
                    li.nav-item
                        a(href="page.html" alt="省水妙招排行榜" itemprop="url" title="省水妙招排行榜"): span 省水妙招排行榜
                    li.nav-item
                        a(href="page.html" alt="省水妙招實況" itemprop="url" title="省水妙招實況"): span 省水妙招實況
                    li.nav-item
                        a(href="page.html" alt="活動辦法" itemprop="url" title="活動辦法"): span 活動辦法
                    li.nav-item
                        a(href="page.html" alt="3M邀你一起愛護台灣" itemprop="url" title="3M邀你一起愛護台灣"): span 3M邀你一起愛護台灣
                    li.nav-item
                        a(href="page.html" alt="FB粉絲團" itemprop="url" title="FB粉絲團"): <div class="icon-fb">FB粉絲團</div>