//page laytout name
extends _layout.jade

//page html
block page_main
    transition(name="fade")
        section.news
            div.photo-1
            div.photo-2
            div.news__hd
                div.l-container
                    h2.title 3M「惜水、愛水、護水」深耕成果
                    p 台灣年平均降雨量2,000多毫米，是全球陸地平均降雨量的2倍多，但卻因為多高山地形特色，讓雨水迅速流入海洋，成為世界缺水國家的第19名。再加上近年氣候異常，極端的降雨使降雨時間分布不均，暴雨也容易水庫淤積狀況嚴重，台灣正面臨嚴峻的水資源問題。
                    p 然而根據經濟部水利署歷年統計，國人每日平均生活用水量居高不下，以2016年最新統計為例，台灣民眾每日平均使用276公升生活用水，不但超過政府參考國際狀況所設定的250公升，更遠高於歐洲先進國家的150公升。
                    p 在台灣深耕40餘年，3M早已將台灣的水資源納入積極關注的環境議題，為提升全民「惜水」、「愛水」、「護水」意識與行動，3M台灣全方位地從【教育紮根】、【呼籲民眾響應】與【3M行動付出】三方面著手：
            div.news__bd
                div.l-container
                    ul.clearfix
                        li.news__box
                            h2.title 教育紮根
                            h3.bg-title 3M百年水學堂
                            p 如同智商IQ、情緒智商EQ，3M期望提升下一代水智商(WQ)，對水資源知識了解越深，除讓年輕學子從生活中改變行動外，更可作為向外傳播的種子，讓更多人重視得來不易的每一滴水。因此3M自2010年啟動，以小學生為主要對象的「百年水學堂」，開發教材並走進校園教導小朋友台灣水資源概況、在地水文環境、生活省水妙招等。多年來走進190所小學，接觸近4萬人次。
                            p 3M也期待更多的教師資源能夠投入水資源的宣導行列中，因此在2015年舉辦「水資源創意教學獎」，從全國選拔出優秀教案，期待透過教案的傳散，讓全台近120萬的小學生都能認識對台灣至關重要的水資源知識。 
                            div.imgs.imgs--1
                        li.news__box
                            h2.title 呼籲民眾響應
                            h3.bg-title 挑戰水極限 & 降低水足跡
                            p 台灣的平均下雨量常讓人們忽略其實我們是常遭遇缺水危機的地區，3M為使民眾能夠體驗水資源利用達到極限後的情況，於2012年開始舉辦「水極限」運動，號召民眾透過以限量的水源渡過6~12小時的極限體驗，進而能在日常生活中珍惜每滴水資源。
                            div.imgs.imgs--2
                            p 此活動在2013年舉辦時，更在國際世界水日(World Water Day)的官方網站中，在台灣地圖上，標示著「3M Ultimate Water Chanllege」的資訊，讓全球看見3M台灣的創意；2014年更創下萬人一日降低水足跡3,000公噸，相當於減量500萬瓶礦泉水量的驚人成果。
                            div.imgs.imgs--3
                        li.news__box
                            h2.title 3M行動付出
                            h3.bg-title 台東樂活供水站 & 3M環保志工
                            p 單車風氣盛行，3M與台東縣政府、公益平台文化基金會合作，於2010年起在台東設置19個安全飲用水的「台東樂活供水站」，讓民眾只要帶著水壺就能安心享用水質無慮的飲水，供水站濾心由3M定期替換。
                            div.imgs.imgs--4
                            p 水源溼地孕育出的豐富生態與滯洪防災的功用，對我們生存環境的保護更顯重要。但台灣多處生態園區與水源地，受到人為過度開發的影響造成許多破壞，為一步步讓台灣水源地生態環境得以重現生機。因此3M員工捲起袖子，不畏風雨護育台灣生態園區與水源地，付出真切關懷與心力。
                            div.imgs.imgs--5
             a.goTop.js-gotop(href="javascript:") PAGE TOP