//page laytout name
extends _layout.jade

//page html
block page_main
    section.index
        div.kv
            div.l-container
                div.kv__title
                div.kv__photo-1
                div.kv__photo-2
                div.kv__photo-3
                    div.txt-1 目前已省下<br><span class="count">33233.5</span><br>桶水
                h3.kv__h3 缺水危機來臨！水資源不能等！ <a href="#" alt="" title=""><img src="images/btn-play.png"></a>
                p.txt-2 台灣是缺水國家，生活用水量卻高過歐美近一倍<span class="txt-small">(註)</span><br>我們需要你，提供厲害的省水妙招<br>將日常生活用水量減半(量)，你省下的「半桶水」<br>我們會直接捐給台灣缺水的地方！
                div.btn-basic.btn--kv
                    a.btn(href="javascript:" title="" alt="") 立即協助          
                p.txt-2 <a class="other--link" href="#">如何協助? 馬上了解</a>
        div.bd
            div.bd-hd
                div.bd-hd--bg
                    div.l-container
                        div.bd__title
                        div.btn-basic.btn--bd-1
                            a.btn(href="javascript:" title="" alt="") 我有妙招
                        div.btn-basic.btn--bd-2
                            a.btn(href="javascript:" title="" alt="") 活動辦法
            div.bd-content
                div.l-container
                    div.bd__photo-1
                    div.bd__photo-2
                    div.bd__photo-3
                    div.bd__photo-4
                div.l-container
                    div.blvideo
                        ul.clearfix
                            li.v-1
                                div.btn-play
                                    a(href="javascript:" alt="" title="")
                                h4 <span class="bule">5.4</span>即將登場
                            li.v-2
                                div.btn-play
                                    a(href="javascript:" alt="" title="")
                                h4 <span class="bule">5.11</span>即將登場
                            li.v-3
                                div.btn-play
                                    a(href="javascript:" alt="" title="")
                                h4 <span class="bule">5.18</span>即將登場
                            li.v-4
                                div.btn-play
                                    a(href="javascript:" alt="" title="")
                                h4 <span class="bule">5.25</span>網紅幫你拍
                div.l-container.rank
                    div.rank__title
                    div.btn-basic.btn--bd-3
                        a.btn(href="javascript:" title="" alt="") 我有妙招
                    div.btn-basic.btn--bd-4
                        a.btn(href="javascript:" title="" alt="") 票選排行
                    div.rank__photo-1
                    table.rank__table
                        tr
                            th
                            th 挑戰者
                            th 妙招主題
                        tr
                            td 1
                            td XXXXXX
                            td XXXXXXXXXXXXXXXXXXXXXXXX
                        tr
                            td 2
                            td 票選排行票選排行票選排票選排行票選排行票選排
                            td XXXXXX
                        tr
                            td 3
                            td XXXXXX
                            td XXXXXX
                        tr
                            td 4
                            td XXXXXX
                            td XXXXXX
                        tr
                            td 5 
                            td XXXXXX
                            td XXXXXX
 