//page laytout name
extends _layout.jade

//page html
block page_main
    transition(name="fade")
        section.list
            div.list__hd
                h2.title 半桶水省水妙招票選｜你覺得誰的省水妙招最酷？馬上投票給他！你也可以分享自己的省水妙招，揪好友衝人氣！獎好禮！
            div.list__bd
                div.l-container
                    div.list-wrap
                        div.list-widget.clearfix
                            a.sort.is--current(href="javascript:") 依最新投稿排序
                            a.sort(href="javascript:") 依票數排序
                        div.list-posts.clearfix
                            div.post
                                div.post__box
                                    img(src="https://dummyimage.com/400x400/fff/000", alt="")
                                    div.post__box-vote
                                        a.vote(href="javascript:") 投票給他
                                        a.fbShare(href="javascript:") 
                                    div.mask
                                div.post__info
                                    p.info1 美國加利福尼亞州
                                    p.getVotes
                                        span 3,501   票
                                    p.info2 英睿欽文大德弘功
                                    p.content 
                                        span 雅虎公司是美國一間跨國發展的資訊技術公司，主要業務為入口網站經營及廣告服務，並提供一系列產品包括：搜尋引擎、電子信箱、社交以...
                                        a.more(href="javascirpt:", target="_blank") more
                            div.post
                                div.post__box
                                    img(src="https://dummyimage.com/400x400/fff/000", alt="")
                                    div.post__box-vote
                                        a.vote(href="javascript:") 投票給他
                                        a.fbShare(href="javascript:") 
                                    div.mask
                                div.post__info
                                    p.info1 美國加利福尼亞州
                                    p.getVotes
                                        span 3,501   票
                                    p.info2 英睿欽文大德弘功
                                    p.content 
                                        span 雅虎公司是美國一間跨國發展的資訊技術公司，主要業務為入口網站經營及廣告服務，並提供一系列產品包括：搜尋引擎、電子信箱、社交以...
                                        a.more(href="javascirpt:", target="_blank") more
                            div.post
                                div.post__box
                                    img(src="https://dummyimage.com/400x400/fff/000", alt="")
                                    div.post__box-vote
                                        a.vote(href="javascript:") 投票給他
                                        a.fbShare(href="javascript:") 
                                    div.mask
                                div.post__info
                                    p.info1 美國加利福尼亞州
                                    p.getVotes
                                        span 3,501   票
                                    p.info2 英睿欽文大德弘功
                                    p.content 
                                        span 雅虎公司是美國一間跨國發展的資訊技術公司，主要業務為入口網站經營及廣告服務，並提供一系列產品包括：搜尋引擎、電子信箱、社交以...
                                        a.more(href="javascirpt:", target="_blank") more
                            div.post
                                div.post__box
                                    img(src="https://dummyimage.com/400x400/fff/000", alt="")
                                    div.post__box-vote
                                        a.vote(href="javascript:") 投票給他
                                        a.fbShare(href="javascript:") 
                                    div.mask.mask--disable
                                div.post__info
                                    p.info1 美國加利福尼亞州
                                    p.getVotes
                                        span 3,501   票
                                    p.info2 英睿欽文大德弘功
                                    p.content 
                                        span 雅虎公司是美國一間跨國發展的資訊技術公司，主要業務為入口網站經營及廣告服務，並提供一系列產品包括：搜尋引擎、電子信箱、社交以...
                                        a.more(href="javascirpt:", target="_blank") more
                    div.btn-area
                        div.btn-basic.btn--readmore
                            a(href="javascript:") ＲＥＡＤ　ＭＯＲＥ
                        p 每天可投3票，不得重複投票
                    a.goTop.js-gotop(href="javascript:") PAGE TOP
    transition(name="fade")
        section.single
            div.single__hd
                h2.title 暱稱美國加利福尼亞州
            div.single__bd
                div.l-container
                    div.single__wrap
                        div.back
                            div.btn-basic
                                a(href="javascript:") 返回
                        div.single-post.clearfix
                            div.col.col1
                                div.imgWrap
                                    img(src="https://dummyimage.com/400x200/fff/000", alt="")
                            div.col.col2
                                div.single-post__info
                                    p.votes 
                                        span 3,501
                                        |票
                                    p.title 主題英睿欽文大德弘功
                                    p.content 雅虎公司是美國一間跨國發展的資訊技術公司，主要業務為入口網站經營及廣告服務，並提供一系列產品包括：搜尋引擎、電子信箱、社交以雅虎公司是美國一間跨國發展的資訊技術公司，主要業務為入口網站經營及廣告服務，並提供一系列產品包括：搜尋引擎、電子信箱、社交以雅虎公司是美國一間跨國發展的資訊技術公司，主要業務為入口網站經營及廣告服務，並提供一系列產品包括：搜尋引擎、電子信箱、社交以雅虎公司是美國一間跨國發展的資訊技術公司，主要業務為入口網站經營及廣告服務，並提供一系列產品包括：搜尋引擎、電子信箱、社交以雅虎公司是美國一間跨國發展的資訊技術公司，主要業務為入口網站經營及交。
                        div.single__ft
                            p 快投我一票！幫我衝人氣拿大獎!
                    div.btn-area
                        div.btn-basic
                            a(href="javascript:") 投票給他
                        div.btn-basic.btn--fbShare
                            a(href="javascript:") FB分享
    

