//page laytout name
extends _layout.jade

//page html
block page_main
    section.demo
        div.l-container(style="padding: 200px 0 0 0")
            button(v-on:click="openVideo(0)") 影片一
            button(v-on:click="openVideo(1)") 影片二
            br
            br
            button(v-on:click="actionVote()") 投票

