//page laytout name
extends _layout.jade

//page html
block page_main
    transition(name="fade")
        section.rank
            div.area-1.show
                div.l-container
                    div.rank-close
            div.area-2
                div.rank__hd
                    h2.title 得獎公告 
                div.rank__bd
                    div.l-container
                        div.rank-area.rank-area--1
                            div.rank__photo-1
                            h4.title 最佳評審獎 4名
                            div.rank__content
                                div.gift
                                div.txt-title
                                    ul.clearfix
                                        li
                                        li.title-1 省水主題
                                        li.title-1 投稿人
                                        li.title-1 聯絡電話
                                div.txt-area
                                    ul.clearfix
                                        li 5.04
                                        li <a href="#">用噴灑代替沖洗</a>
                                        li 省水大師
                                        li 0935-XXX-X07
                                div.txt-area
                                    ul.clearfix
                                        li 5.11
                                        li 尚未公布
                                        li 
                                        li 
                                div.txt-area
                                    ul.clearfix
                                        li 5.18
                                        li 尚未公布
                                        li 
                                        li 
                                div.txt-area
                                    ul.clearfix
                                        li 5.25
                                        li 尚未公布
                                        li 
                                        li 
                        div.rank-area.rank-area--2
                            div.rank__photo-2
                            h4.title 最佳人氣獎 3名
                            div.rank__content.rank__content--2
                                div.gift
                                div.txt-title
                                    ul.clearfix
                                        li
                                        li.title-1 省水主題
                                        li.title-1 投稿人
                                        li.title-1 聯絡電話
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 效法日本的省水
                                        li 林佩瑩
                                        li 0980-XXX-X53
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 洗米水的好處
                                        li 王雅玲
                                        li 0952-XXX-X35
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 用每日刷牙的漱口水來沖馬桶
                                        li <span class="spFont">許碧吟</span>
                                        li 0912-XXX-X27
                        div.rank-area.rank-area--3
                            div.rank__photo-3
                            div.rank__photo-4
                            h4.title 參加獎 40 名
                            div.rank__content.rank__content--3
                                div.gift
                                div.txt-title
                                    ul.clearfix
                                        li
                                        li.title-1 省水主題
                                        li.title-1 投稿人
                                        li.title-1 聯絡電話
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 水是最重要的
                                        li 呂淑妙
                                        li 0981-XXX-X81
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 洗米水洗碗盤
                                        li 徐婉淩
                                        li 0936-XXX-X53
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 衣服達人
                                        li 劉家銘
                                        li 0928-XXX-X97
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 寶特瓶省水法
                                        li 美菱
                                        li 0936-XXX-X82
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 省水肥荷包
                                        li 陳怡潔
                                        li 0932-XXX-X84
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 調整馬桶浮球高度
                                        li 廖美清
                                        li 0938-XXX-X45
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 控制適量
                                        li 冠皓
                                        li 0978-XXX-X70
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 收集洗澡前溫水來沖馬桶
                                        li 楊雅筑
                                        li 0988-XXX-X63
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 擦地板好省水
                                        li Demian
                                        li 0916-XXX-X55
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 接水盆，很簡單
                                        li 林家榆
                                        li 0921-XXX-X48
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 澆花要選時間
                                        li 王詠皓
                                        li 0928-XXX-X20
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 除濕機的水拿來澆花
                                        li 許田
                                        li 0972-XXX-X28
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 省水標章
                                        li Phil
                                        li 0930-XXX-X99
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 自己用水自己儲(除)
                                        li Ronald Lee
                                        li 0919-XXX-X58
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 下雨天
                                        li 逸
                                        li 0928-XXX-X32
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 雨天洗衣服
                                        li Rain
                                        li 0987-XXX-X21
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 洗碗廚餘先刮掉
                                        li 葉聖馨
                                        li 0989-XXX-X69
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 馬桶水量減半
                                        li Alice
                                        li 0936-XXX-X82
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 省水
                                        li 濯吾足
                                        li 0987-XXX-X21
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 遷移歐洲，當個省水的歐洲人吧！
                                        li 張君維
                                        li 0912-XXX-X20
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 廢水沖馬桶
                                        li 蔡奇芬
                                        li 0965-XXX-X95
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 河邊種菜
                                        li 小孫
                                        li 0928-XXX-X32
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 洗手水沖馬桶
                                        li 怡婷
                                        li 0988-XXX-X12
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 擦澡
                                        li 楊琇羢
                                        li 0919-XXX-X49
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 擦拭代替沖洗
                                        li 蘇顯星
                                        li 0970-XXX-X22
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 小水盆大作戰
                                        li 游惠英
                                        li 0920-XXX-X90
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 省水馬桶
                                        li 林明宏
                                        li 0932-XXX-X45
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 兩段式馬桶
                                        li 郭訓志
                                        li 0973-XXX-X51
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 噴霧式水龍頭
                                        li 小義
                                        li 0928-XXX-X32
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 食物解凍
                                        li 周鴻均
                                        li 0913-XXX-X66
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 洗澡
                                        li 劉道生
                                        li 0903-XXX-X32
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 洗菜的水沖馬桶
                                        li 董淑娟
                                        li 0965-XXX-X37
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 洗過菜的水拿來澆花或沖馬桶
                                        li 黃麗蓉
                                        li 0972-XXX-X42
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 用雨水拖地
                                        li 張晃銘
                                        li 0925-XXX-X35
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 用洗米水洗碗
                                        li 黃千慈
                                        li 0922-XXX-X78
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 洗米水沖馬桶
                                        li 小君
                                        li 0965-XXX-X78
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 馬桶裝寶特瓶
                                        li 魏秀蕊
                                        li 0971-XXX-X34
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 冷氣機水沖洗陽台
                                        li 薛青芳
                                        li 0905-XXX-X50
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 太空的方法
                                        li 周冠宇
                                        li 0913-XXX-X66
                                div.txt-area
                                    ul.clearfix
                                        li
                                        li 沖澡代替泡澡
                                        li 小威
                                        li 0928-XXX-X32
    a.goTop.js-gotop(href="javascript:") PAGE TOP

