transition(name="fade")
    .popup(v-if="popup=='event'")
        .popclose(@click="popupClose")
            img(src="images/popclose.png")
        .poppagebg
            h2
                img(src="images/title-event.png")
            .poppage
                .popcon
                    ul.one
                        li
                            p
                                span.bold 活動名稱：
                                | Richart蹦好運
                        li
                            p
                                span.bold 活動期間：
                                | 2020/12/29-2021/2/3
                        li
                            p
                                span.bold 活動對象：
                                | Richart LINE官方帳號有效好友（亦即無封鎖官方帳號）
                        li
                            p
                                span.bold 活動內容：
                                | 活動對象於活動期間內，完成Richart蹦好運互動遊戲，並完成LINE個人化服務綁定者，即可抽「立即開獎禮」，並再享「週週抽好禮」抽獎資格。(本活動不限參加名額，不保證中獎)。
                        li
                            p
                                span.bold 獎項內容：
                            ul.two
                                li (一) 立即開獎禮，每人僅可獲得1次抽獎機會，獎項與名額如下：
                                    ul.three
                                        li 5R幣序號：10,000名
                                        li 10R幣序號：10,000名
                                        li 全家LET’S CAFÉ 35元折價序號：1,000名
                                        li myBook雜誌樂讀包14天服務序號：900名
                                        li myVideo豪華月租14天服務序號：900名
                                        li 蝦皮NT$100購物金：50名
                                li (二) 好禮週週抽，活動期間內每人僅可獲得1次抽獎機會，獎項與名額如下：
                                    ul.three
                                        li 第一週：Marshall KILBURN II攜帶式藍芽喇叭，經典黑：1名
                                        li 第二週：Switch主機+超級瑪利歐派對遊戲片：1名
                                        li 第三週：GoPro HERO9 BLACK，1名
                                        li 第四週：iPhone 12 64G不挑色，1名
                                        li 第五週：現金獎NT5,000元，3名
                                        li Richart 2021年超Q桌曆，200名(40名/週)
                                        li 威秀影城電影票，50名(10名/週)
                                        li 掌上KTV無線麥克風，5名(1名/週)
                                        li HomePod mini (白)，5名(1名/週)
                                    | ※如客戶於「好禮週週抽」每週檢核時間點前，封鎖Richart LINE官方帳號或解除個人化綁定，將視同放棄好禮週週抽之中獎資格，詳見「六、獎項發送流程」。
                                    br
                                    | ※如客戶於活動期間當週未中獎，抽獎機會可以累積至下一週，但每人僅得獲獎一次。
                        li
                            p
                                span.bold 獎項發送流程：
                            ul.two
                                li (一)立即開獎禮：
                                    br
                                    | 活動對象完成活動內容後，即可於活動網頁上立即隨機抽取，如有獲獎者將立即並顯示獲得獎品及相關兌換序號，各獎品之兌換方式請見「獎項使用說明」。
                                li (二) 週週送好禮：
                                    ul.three
                                        li 台新銀行將依下列檢核時間點，檢核具抽獎資格名單過後進行抽獎，中獎名單將公告於Richart官網，並以簡訊提供「數位機會中獎回覆函填寫網址」予中獎者，簡訊將發送至中獎者於台新銀行所留存之手機號碼為準。
                                        li 中獎者需於「
                                            span.ps 收到訊息通知後14日內(含例假日)
                                            | 」，填妥數位機會中獎回覆函，回傳至台新銀行Richart數位中獎回函系統(以台新銀行Richart數位中獎回函系統紀錄成功回傳時間為準)，經台新銀行檢核並確認內容無誤後：
                                            ul.four
                                                li (1)「實體獎項」將於2021/2/8後，陸續依中獎者於中獎回覆函中留存之地址寄發。
                                                li (2)「NT$5,000」，將於2021/4/15前，將現金匯入中獎者之Richart存款帳戶，
                                                    span.ps 惟若中獎客戶未持有Richart存款帳戶，需於2021/3/15前完成開立Richart存款帳戶，並首次登入App方可領獎。
                                                li (3)若中獎客戶逾期未完成上開領獎相關程序，將視為中獎客戶自動放棄中獎資格及獎項。
                                        li 本活動贈品以實物為主，中獎者不可指定贈品款式及型號、亦不可要求兌換、折讓或退換獎項，實際寄送時間視庫存狀況，若遇缺貨將另行通知中獎者，以延後出貨或以等值商品替代。
                                        li 抽獎檢核、公告、中獎回函回傳時間點
                            table.poptab
                                tr
                                    th
                                    th 檢核抽獎時間
                                    th 得主公告/發送簡訊
                                    th 回函回傳
                                tr
                                    td 第一週
                                    td 2021/1/8
                                    td 2021/1/15
                                    td 2021/1/29
                                tr
                                    td 第二週
                                    td 2021/1/15
                                    td 2021/1/22
                                    td 2021/2/5
                                tr
                                    td 第三週
                                    td 2021/1/22
                                    td 2021/1/29
                                    td 2021/2/11
                                tr
                                    td 第四週
                                    td 2021/1/29
                                    td 2021/2/5
                                    td 2021/2/19
                                tr
                                    td 第五週
                                    td 2021/2/5
                                    td 2021/2/9
                                    td 2021/2/23
                        li
                            p
                                span.bold 獎項使用說明：
                            ul.two
                                li (一)Richart 5R、10R幣序號：
                                    ul.three
                                        li 請至Richart LINE官方帳號點選「R幣專區」，或Richart APP點選APP首頁下方「我的」，輸入R幣序號即可成功累積R幣；尚未開立Richart存款帳戶者，需以身分證字號及手機號碼註冊R幣會員。
                                        li 
                                            span.ps R幣累積有效期限：至2021/2/28止。
                                            | 提醒：於2021年所累積之R幣，
                                            span.ps 需於2022年3月1日(含)以前完成兌換，逾期未兌換則自動失效歸零。
                                        li 更多R幣詳細使用規則及限制，請詳見注意事項(八)。
                                li (二)全家LET’S CAFÉ 35元折價序號
                                    ul.three
                                        li 請至全家便利商店FamiPort輸入序號兌換並列印優惠券，結帳時請出示優惠券，即可兌換LET’S CAFÉ NT$35元商品，可補差價換購價高商品，兌換後店舖人員將會收回此券，且不得重覆使用。
                                        li 
                                            span.ps 兌換期限：2021/06/30止，須於活動期限內完成兌換，逾期兌換無效
                                            | ，且不得以任何理由要求補發商品兌換券或等值商品，亦不得要求找零、折抵現金或優惠購買非指定商品。
                                        li 本券限使用乙次，一經使用，一律不接受退貨。
                                        li 
                                            span.ps 本券請妥善保管，遺失、毀損或保存不當造成辨識不清，恕不補發
                                            | ；影印亦不得使用。
                                        li 部分非開立全家發票店舖無法使用，以單店公告為主。
                                        li 全家便利商店保留本活動修改及購買優惠指定商品之權利，且不另行通知。
                                        li 詳細兌換方式請以實際FamiPort操作流程為準。
                                li (三)myBook 雜誌樂讀包14天服務序號(兌換網址：
                                    a(href="https://richart.pse.is/388k8g" target="_blank" gtm-data="活動辦法頁__My Book") https://richart.pse.is/388k8g
                                    | )
                                    ul.three
                                        li 
                                            span.ps 序號限當下無myBook合約狀態會員使用。
                                        li 
                                            span.ps 序號兌換期限：2021/06/30止，逾期或遺失恕不補發
                                            | ，不得與其他優惠併用。
                                        li 序號使用期間可享受myBook雜誌樂讀包千本電子雜誌看到飽，適用於手機/平板/電腦閱讀。
                                        li 本序號不得要求兌換現金、轉售等其他使用。
                                        li myBook客服：台灣大門號手機直撥188/非台灣大門號請撥打市話(02)6606-2999
                                li (四)myVideo豪華月租14天服務序號(兌換網址：
                                    a(href="https://richart.pse.is/39bqmp" target="_blank" gtm-data="活動辦法頁_My Video") https://richart.pse.is/39bqmp
                                    | )
                                    ul.three
                                        li 
                                            span.ps 序號限當下無myVideo合約狀態會員使用。
                                        li 
                                            span.ps 序號兌換期限：2021/06/30止，逾期或遺失恕不補發。
                                        li 兌換後可於14天內無限次觀看豪華月租影片，到期後需加入月租會員即可繼續觀看。
                                        li 「我的服務」內可確認優惠到期日。
                                        li 若發生個人網路或系統問題導致無法兌換，將保留myVideo變更或終止活動時間、內容權利。
                                        li 每組序號僅可兌換一次，逾期視同放棄。請序號送出後靜待數分鐘，勿於短時間內重複輸入，以免序號失效造成損失。
                                        li myVideo客服：台灣大門號手機直撥188/非台灣大門號請撥打市話(02)6606-2999
                                li (五)蝦皮購物金NT100元序號：
                                    ul.three
                                        li 請至蝦皮全站使用，消費滿NT$101(含)以上可折NT$100，
                                            span.ps 使用期限為2021/2/13 23:59。
                                        li 折扣代碼
                                            span.ps 不適用於部分服務票券類商品與特定店家與特定商品。
                                        li 若有任何使用上的問題請洽詢蝦皮客服(02)6636-6559。
                                li (六)威秀影城電影票
                                    ul.three
                                        li 
                                            span.ps 使用期限：2021/11/30。
                                        li 
                                            span.ps 本券不可轉賣，亦無現金兌換價值、遺失恕不補發，亦不可掛失。
                                        li 
                                            span.ps 本券不保證座位，請至售票處劃位換票，劃位後恕不退票。本券適用於官網網路訂位。
                                        li 本券於MUVIE CINEMAS、台北信義、台北京站、板橋大遠百貨新竹巨城威秀影城售出，餘優惠期限內，得以本券於台北信義、台北京站、板橋大遠百貨新竹巨城威秀影城兌換公開販售電影場次內一般廳2D電影票一張。若逾優惠期限兌換，則每張須酌收手續費30元，並開立正式發票惟賦稅憑證。若欲觀賞3D影片、特殊影廳、片長150分鐘(含)以上影片或遇特殊節日，則須加價，加價金額請洽影城售票櫃台。
                                        li 本券因毀損或變形，而其票根條碼仍可經由紹票機台辨識者，得至上述之威秀影城申請補發，補發費用每次為新台幣50元，每次申請補發之張數不得超過一張。
                                        li 其它未盡之事宜與聯絡電話，請見電影票背面使用須知。
                        li
                            p
                                span.bold 注意事項：
                            ul.two
                                li (一)本活動之參加者限居住於臺、澎、金、馬地區之本國國民參加，資料若有不實，將取消參加及領獎資格，台新銀行保留審核參加者資格之權利。
                                li (二)本活動所稱之Richart「存款帳戶」，包含Richart數位銀行綜合存款帳戶及同享Richart數位銀行綜合存款帳戶優惠之存款帳戶。
                                li (三)活動獎項皆以台新銀行審核或公告為準，恕不提供交換、挑選、轉讓及折現，亦不得更換中獎人。
                                li (四)參加者應保證所有填寫或提出之資料均為真實且正確，且未冒用或盜用任何第三人之資料。如有不實或不正確之情事，台新銀行有權取消參加者之獲獎資格;若因資料不正確，而導致無法聯繫以及收取獎品，恕無法要求補發。如有致損害於台新銀行或其他第三人，參加者應負一切法律責任。
                                li (五)本活動各獎項之獲獎名單將依照台新銀行審核或公告為準，不得異議。
                                li (六)本活動均為機會中獎，依所得稅法規定，中獎人如為中華民國境內居住之個人時，參加台新銀行活動所得之年度累積中獎價值若超過新臺幣1,000元者，應列入中獎人年度綜合所得，台新銀行將依各類所得扣繳率標準申報予國稅局，提供中獎人將此所得併入所得計算及報繳所得稅，台新銀行依所得稅法第94-1條規定，得免填發各類所得扣繳暨免扣繳憑單予中獎人，若中獎人有需求時請另行提出申請。
                                li (七)台新銀行非本活動獎品「Marsall KILBURN II攜帶式藍芽喇叭」、「Nintendo Switch主機+超級瑪利歐派對遊戲片」、「GoPro HERO9 BLACK」、「iPhone 12 64G」、「掌上KTV無線麥克風」、「HomePod mini (白)」、「myBook雜誌樂讀包14天服務序號」、「myVideo豪華月租14天服務序號」、「全家LET’S CAFÉ 35元折價序號」、「蝦皮購物金NT$100」、「威秀影城電影票」之製造者，且與該獎品之提供廠商並無任何代理或合夥關係；中獎人如因使用該獎品發生任何爭議或相關限制，請逕洽該獎品之實際製造或提供廠商處理。
                                li (八)R幣累積與兌換辦法：
                                    ul.three
                                        li R幣累積說明：
                                            ul.four
                                                li (1)客戶需申請成為 R 幣會員，方得累積 R 幣。
                                                li (2)如客戶所獲得者為 R 幣序號，則需在該 R 幣序號的累積有效期間內，透過 Richart Line 官方帳號主選單或 Richart APP 輸入序號，才能成功累積 R 幣;每組 R 幣序號僅限使用一次，若未於序號累積有效期限內成功累積 R 幣即為失效。
                                        li R 幣兌換說明：
                                            ul.four
                                                li (1)每 1 R 幣可兌換 NT$1，可分次兌換所累積之 R 幣，惟每次兌換最少須兌換 100 R 幣。
                                                li (2)R 幣會員需持有 Richart 存款帳戶始得將累積之 R 幣兌換為現金。
                                                li (3)R 幣兌換現金將於完成開立Richart存款帳戶並首次登入 Richart APP 後， 45 個 工作天內匯入客戶之 Richart 存款帳戶。
                                                li (4)兌換期限：於當年度(1 月 1 日至 12 月 31 日)所累積之 R 幣，需於次年度 3 月 1 日(含)以前完成兌換，逾期未兌換則自動失效歸零。
                                                li (5)其他未盡之說明事宜，詳見：
                                                    a(href="https://richart.pse.is/3aaf37" target="_blank") https://richart.pse.is/3aaf37
                                                    | 。
                                li (九)本活動嚴禁參加者使用程式或其他方式進行系統干擾偽造之行為，任何破壞活動進行、破壞網站管理者運作、違反網站管理使用條款者，如經台新銀行查證發現不法情形，台新銀行具有得取消其參加活動資格之權利。同時，對於任何以詐騙行動或其他足以傷及本活動或網站之個人主辦單位將追究其法律責任。
                                li (十)Richart服務由台新銀行提供，台新銀行保留隨時修改、變更、終止本活動及替換其他等值獎項之權利；本活動如有變更或終止時，將於Richart官網公告。若有其他未盡事宜，悉依Richart相關規定或解釋辦理，並得隨時補充公告之。
                                li (十一)參加本活動即表示同意接受本活動條款；若有違反者，台新銀行有權取消參加者之參加資格，如對本活動有任何疑義，請參考Richart官網公告或撥打Richart客服專線：(02)8798-9088 / 0800-888-800。
                                li (十二)個人資料保護之法定告知事項：
                                    ul.three
                                        li 您的身分證字號、姓名、手機號碼、通訊地址、E-mail等，台新銀行僅限於辦理Richart行銷活動及其相關程序（包括但不限於獲獎通知與領取獎品及代辦所得稅申報）之目的範圍內為蒐集、處理與利用。
                                        li 台新銀行(含受台新銀行委託處理事務之委外機構)及依法有權機關或金融監理機關利用您的個人資料僅限於上述特定目的存續期間，依相關法令所定〈例如商業會計法等〉或因執行業務所必須之保存期間或依個別契約就資料之保存所定之保存年限〈以期限最長者為準〉，地區僅限台新銀行(含受台新銀行委託處理事務之委外機構)及依法有權機關或金融監理機關之國內所在地 。
                                        li 您得自由選擇是否提供相關個人資料及類別，惟您所拒絕提供之個人資料及類別，如果是作業所需之資料，將影響台新銀行進行必要之作業程序而無法提供您相關服務，敬請見諒。
                                        li 依據個人資料保護法第3條規定，您就台新銀行保有您的個人資料，得行使下列權利：
                                            ul.four
                                                li (1)除有個人資料保護法第10條所規定之例外情形外，得向台新銀行查詢、請求閱覽或請求製給複製本，惟台新銀行依個人資料保護法第14條規定，得酌收必要成本費用。
                                                li (2)得向台新銀行請求補充或更正個人資料，惟依個人資料保護法施行細則第19條規定，您應適當釋明其原因及事實。
                                                li (3)台新銀行如有違反個人資料保護法規定蒐集、處理或利用您的個人資料，依個人資料保護法第11條第4項規定，您得向台新銀行請求停止蒐集您的個人資料。
                                                li (4)依個人資料保護法第11條第2項規定，個人資料正確性有爭議者，得向台新銀行請求停止處理或利用您的個人資料。惟依該項但書規定，台新銀行因執行業務所必須並註明其爭議或經您書面同意者，不在此限。
                                                li (5)依個人資料保護法第11條第3項規定，個人資料蒐集之特定目的消失或期限屆滿時，得向台新銀行請求刪除、停止處理或利用您的個人資料。惟依該項但書規定，台新銀行因執行業務所必須或經您書面同意者，不在此限。
                                        li 您如欲行使上述個人資料保護法第3條規定之各項權利，有關如何行使之方式，您得向台新銀行(申請各項業務專線0800-000-456或客戶服務專線02-26553355)或於台新銀行網址(
                                            a(href="https://www.taishinbank.com.tw" target="_blank") www.taishinbank.com.tw
                                            | )查詢。

transition(name="fade")
    .userpop(v-if="popup=='usersev'")
        .popclose(@click="popupClose")
            img(src="images/popclose.png")
        h2
            img(src="images/title-award-usersev.png")
        .userpage
            .btnarea
                .notmember(@click="haveRichart=false" :class="{notmemberActive: !haveRichart}")
                .ismember(@click="haveRichart=true" :class="{ismemberActive: haveRichart}")
            transition(name="fade")
                .userbox(v-if="haveRichart" key="haveRichart")
                    ul
                        li
                            img(src="images/rcoin-usersev.png")
                        li
                            img(src="images/exchange-usersev.png")
                        li
                            img(src="images/check-usersev.png")
                        li
                            img(src="images/nocard-usersev.png")
                .userbox(v-if="!haveRichart" key="!haveRichart")
                    ul
                        li
                            img(src="images/rcoin-usersev.png")
                        li
                            img(src="images/exchange-usersev.png")
                        li
                            img(src="images/mbmoney-usersev.png")

transition(name="fade")
    .sendpopup(v-if="sendLoading")
        .sendpoppage
            img(src="images/sendloading.gif")
            p 系統讀取中，請勿關閉網頁