nav#nav.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
    div.nav__hd
        div.l-container
            h1.nav-logo
                a(href="index.html" alt="LOGO" title="LOGO") LOGO
            div.nav-fbshare(v-on:click="fbShare();return false;")
            div.nav-btn
                div.one
                div.two
                div.three
    div.nav-bd
        div.l-container
            div.nav-menu(role="navigation")
                ul.clearfix
                    li.nav-item
                        a(href="index.html" alt="項目" itemprop="url" title="項目"): span 首頁
                    li.nav-item
                        a(href="page.html" alt="項目" itemprop="url" title="項目"): span 快來滴血認親拿好禮
                    li.nav-item
                        a(href="page.html" alt="項目" itemprop="url" title="項目"): span 活動辦法
                    li.nav-item
                        a(href="page.html" alt="項目" itemprop="url" title="項目"): span 影片專區
                    li.nav-item
                        a(href="page.html" alt="項目" itemprop="url" title="項目"): span 與家樂福成為一家人
                    li.nav-item
                        a(href="page.html" alt="項目" itemprop="url" title="項目"): span 家樂福facebook
                    li.nav-item
                        a(href="page.html" alt="項目" itemprop="url" title="項目"): span 家樂福Instagram
                    li.nav-item
                        a(href="page.html" alt="項目" itemprop="url" title="項目"): span 家樂福LINE官方帳號
                    li.nav-item
                        a(href="page.html" alt="項目" itemprop="url" title="項目"): span 得獎名單 | 3月15日公布