
/*  index*/

.smart_all {
    position: fixed;
    bottom: 10px;
    right: 0;
    z-index: 99999;

}
.index_bg{

    background-image: url(" https://www.cathay-ins.com.tw/CXIDocs/PF/image/alpha/index.png");
    background-position: top center;
    width: 100%;
    height: 1080px;
    background-repeat: no-repeat;
}

.smart_up {
    width: 28px;
    height: 28px;
    margin-bottom: 12px;
    margin-left: 42px;
    cursor: pointer;
    display: none;
}

.smart_alpha {
    width: 110px;
    height: 130px;
    cursor: pointer;
    background-image: url(" https://www.cathay-ins.com.tw/CXIDocs/PF/image/alpha/smart_alpha.png");
    background-size: 100%;
    background-position: 0px 0px;/*background-position: 0px 14px;*/
    z-index: 5;
    margin: 20px 0px 0px;
    background-repeat: no-repeat;


}

.smart_alpha.end{
    background-image: url(" https://www.cathay-ins.com.tw/CXIDocs/PF/image/alpha/smart_alpha02.png");
    background-size: 100%;
    background-position: 0px 0px;
}
.smart_alpha.shut{
    background-image: url(" https://www.cathay-ins.com.tw/CXIDocs/PF/image/alpha/smart_alpha03.png");
    background-size: 70%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {

   .smart_alpha {
    background-image: url(" https://www.cathay-ins.com.tw/CXIDocs/PF/image/alpha/smart_alpha@2x.png");
    background-size: 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;

}

.smart_alpha.end{
    background-image: url(" https://www.cathay-ins.com.tw/CXIDocs/PF/image/alpha/smart_alpha02@2x.png");
    background-size: 100%;
    background-position: 0px 0px;
}
.smart_alpha.shut{
    background-image: url(" https://www.cathay-ins.com.tw/CXIDocs/PF/image/alpha/smart_alpha03@2x.png");
    background-size: 100%;
    background-position: 0px 0px;
    background-repeat: no-repeat;
}

}



.smart_say .say{
    right: 20px;
    background-color: #fff;
    border-radius: 40px 40px 40px 40px;
    padding: 10px 20px;
    position: relative;
    box-shadow: 0px 8px 20px 0px #a7a7a7;
    -moz-box-shadow: 0px 8px 20px 0px #a7a7a7;
    -webkit-box-shadow: 0px 8px 20px 0px #a7a7a7;
    box-shadow: 0px 8px 20px 0px #a7a7a7;
    font-size: 14px;
    line-height: 1.4;
}
.smart_say .say::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 18px;
    background-image: url(" https://www.cathay-ins.com.tw/CXIDocs/PF/image/alpha/robot_index.png");
    background-repeat: no-repeat;
    bottom: -12px;
    right: 15px;
    z-index: 2;

}
.smart_say p {
    margin: 0;
}
.smart_box {
    margin-right: 10px;
        margin-bottom: -14px;
        border-radius: 10px;
        box-shadow: 0px 8px 20px 0px #a7a7a7;
    -moz-box-shadow: 0px 8px 20px 0px #a7a7a7;
    -webkit-box-shadow: 0px 8px 20px 0px #a7a7a7;
    box-shadow: 0px 8px 20px 0px #a7a7a7;
    overflow: hidden;
    height: 665px;
        z-index: 3;
        display: none;
}
.smart_box iframe {
    width: 450px;
    height: 665px;

}

.smart_icon {
    float: right;
}
/*  index  end*/

/*  set height */
@media screen and (max-height: 800px){ 
	.smart_box iframe { 
		height: 550px; 
	} 
	.smart_box{ 
		height: 550px; 
	} 
} 
@media screen and (max-height: 700px){ 
	.smart_box iframe { 
		height: 450px; 
	} 
	.smart_box{ 
		height: 450px; 
	} 
} 

@media screen and (max-height: 600px){ 
	.smart_box iframe { 
		height: 350px; 
	} 
	.smart_box{ 
		height: 350px; 
	} 
} 

@media screen and (max-height: 500px){ 
	.smart_box iframe { 
		height: 250px; 
	} 
	.smart_box{ 
	   height: 250px; 
	} 
} 


/*  set mobile */
@media screen and (max-width: 450px){ 
	.smart_alpha {    
    	width:  80px;
    	height: 95px;
		margin: 20px 0px 0px;/*margin-bottom: -20px;*/
	}
}

@media screen and (min-width:451px) and (max-width:768px){
	.smart_alpha {    
    	width:  90px;
    	height: 105px;
		margin: 20px 5px 0px;/*margin-bottom: -20px;*/
	}
}