$ft_height: 110px;
$ft_height_mb: 0;
$viewport:750px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    font-family:'source-han-sans-traditional','微軟正黑體','Microsoft JhengHei',Verdana,Arial,Helvetica,sans-serif,'STHeiti Light','儷黑 Pro','LiHei Pro','Microsoft Yahei','Microsoft JhengHei','新細明體';
    overflow-x:hidden;
    @include respond-to(small) {
        html, body {
            overflow-x: hidden; 
            //在行動裝置HTML&BODY需一起下OVERFLOW-X 
        }
    }
}

html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0 auto;
    &._freeze{
        overflow: hidden;
    }
    // @include respond-to(small-up) {
    //     min-width: 960px;
    //     min-height: 800px;
    // };
    @include respond-to(small) {
        min-width: $viewport;
        -webkit-text-size-adjust: none;
    }
}
.fb-root {
    height: 0;
    overflow: hidden;
}

.l-container{ 
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}


.l-wrap {
    min-height: 100%;
    width:100%;
    position: relative;
    overflow:hidden;
    background: url("../images/bg-wall.jpg");
}

.l-main{
    max-width: $viewport;
    width: 100%;
    margin: 0 auto;
    position: relative; 
    // padding-bottom: $ft_height;
    overflow: hidden;
    .page__content {
        @extend %content-size;
        &.nobox{
            padding: 0;
        }
    }
    @include respond-to(small) {
        padding-bottom: $ft_height_mb;
    };
}

.l-footer {
    background: #6a3924;
    position: relative;
    overflow: hidden;
    p {
        text-align: center;
        font-size: 24px;
        line-height: 32px;
        color: #fff;
        font-weight: 300;
    }
    .l-container{
        padding: 20px 80px;
    }
    // margin-top: -$ft_height;
    // height: $ft_height;

}

.l-fb{
    position: relative;
    height: 0;
    .fb-box{
        background: transparent;
        color: #ffffff;
        height: 20px;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        @include respond-to(small) {
            transform: scale(1.6);
            transform-origin: left top;
        }
    }
}


.l-vm {
    //使用的時後，請給l-vm層定義高度
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      width: 0;
      vertical-align: middle;
    }
    &__content {
        display: inline-block;
        vertical-align: middle;
        padding-left: -0.07em; 
    }
}