$nav_height: 130px;
$nav_height_mb: 0px;

/* only needed once */

.nav {
    $nav:nav;
    text-align: center;
    height: $nav_height;
    background: #fff;
    &-bd {
        padding: 20px 40px 20px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-logo {
        font-size: 0;
        display: inline-block;
        a {
            display: block;
        }
    }
    &-btn {
        display: inline-block;
        z-index: 5;
        cursor: pointer;
        >div {
            width: 62px;
            height: 10px;
            background: #000;
            border-radius: 5px;
            margin-bottom: 12px;
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    &-menu {
        position: absolute;
        width: 100%;
        background: url("../images/bg-wall.jpg");
        left: 0;
        top: 0;
        transition:all .3s ease-in-out;
        z-index: 20;
        padding: 60px 50px;
        transform: translateY(-100%);
        height: 100vh;
        overflow: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        
        .menu-content{
            position: relative;
            background: #fff;
            width: 100%;
            border: 8px solid $border_color;
            border-radius: 20px;
            padding-top: 70px;
            padding-bottom:0px;
            .nav-close {
                position: absolute;
                top: -20px;
                right: -20px;
                @extend %close-btn
            }
        }
        ul {
            li {            
                display: block;
                width: 100%;
                margin-bottom: 26px;
                &:last-of-type{
                    margin-bottom: 0px;
                }
                a {
                    display: inline-block;
                    font-size: 1.8rem;
                    line-height: 3;
                    width: 475px;
                    background: url("../images/nav-btn.png") center 5px / 100% no-repeat;
                    padding-bottom:5px;
                    span{
                        display: block;
                        line-height: 130px;
                        font-size: 53px;
                        font-weight: 900;
                        color: #000;
                    }
                }
            }
        }
        .catboy{
            margin-top: 25px;
            margin-bottom: -18px;
        }
    }
    &--active {
        .nav-menu {
            transform: translateY(0%);
        }
    }
}

