$border_color:#9b603d;
$border_color2: #9c6f41;
$border_color3: #4c3a39;
$border_right: #a5330e;

$bg-color-2: #b9a999;

$font_red:#a5330e;
$font_pink:#e67982;
$font_color1:#4c3a39;

$coming_color:#fefdfb;
// $continer-padding: 30px 20px 10px 20px;

