.role-partial
    .role-title.pc
        img.no-black(src="./images/role-title.png", alt="活動辦法")
        img.black(src="./images/role-title-b.png", alt="活動辦法")
    .role-title.mb
        img(src="./images/role-title-mb.png", alt="活動辦法")
    .role-part
        .role-s-title
            img.no-black(src="./images/role-title2.png", alt="活動說明")
            img.black(src="./images/role-title2-b.png", alt="活動說明")
        h3 家樂福賀歲大戲院
        p 以三支手機成功合體觀看【揪團秘映版】，每支手機皆可獲得一年份電影票抽獎機會
        h3 影迷朝聖找彩蛋
        p 於電影場景中點擊關鍵道具，即有機會發現驚喜彩蛋，獲得多樣家電和家樂福即享券抽獎機會
        h3 賀歲再加碼
        p 手機搖紅包活動辦法及贈品說明請參閱該活動網頁：
            br
            a(href="https://lihi.cc/a8aSO" target="_blank") https://lihi.cc/a8aSO
            br
            | 金豬報喜活動辦法及贈品說明請參閱該活動網頁：
            br
            - if (isMobile)
                a(href="https://pse.is/EFFDK" target="_blank") https://pse.is/EFFDK
            - else
                a(href="https://pse.is/ERP4K" target="_blank") https://pse.is/ERP4K
            br
        p ＊電腦版建議使用 IE10.0以上瀏覽器；行動裝置請使用iPhone 6以上 或Android 6以上版本，以維持最佳網站體驗。
    .role-part
        .role-s-title.ex
            img.no-black(src="./images/role-title3.png", alt="活動獎項說明")
            img.black(src="./images/role-title3-b.png", alt="活動獎項說明")
        p.info-text 活動期間2019年1月18日~2月12日<br>完成活動後可填寫抽獎資料，每支電話號碼可<br class="mb">擁有至多七次抽獎機會！
            |
            br
            |
            small （每個獎項可登錄一次）
        .role-info-block
            h3 家樂福賀歲大戲院
            .role-reward-block-group
                .role-reward-block
                    .role-reward-item
                        img(src="./images/role-item1.png", alt="威秀影城電影票一年份")
                    h4 威秀影城電影票一年份
                        br
                        small (以每月2張計算，共24張電影票，價值 $5,760)
                        br
                        | 3名
        .role-info-block
            h3 影迷朝聖找彩蛋
            .role-reward-block-group
                .role-reward-block
                    .role-reward-item
                        img(src="./images/role-item2.png", alt="SHARP UHD顯示器")
                    h4 SHARP UHD顯示器
                        br
                        small (50吋4k電視，價值 $18,888)
                        br
                        | 1名
                .role-reward-block
                    .role-reward-item
                        img(src="./images/role-item3.png", alt="NS Switch主機單機")
                    h4 NS Switch主機單機
                        br
                        small (價值 $9,780)
                        br
                        | 1名
                .role-reward-block
                    .role-reward-item
                        img(src="./images/role-item4.png", alt="Honeywell 空氣清淨機")
                    h4 Honeywell 空氣清淨機 
                        br
                        small (價值 $9,211)
                        br
                        | 1名
                .role-reward-block.break
                    .role-reward-item
                        img(src="./images/role-item5.png", alt="家樂福即享券")
                    h4 家樂福 $1,000即享券 50名
                        br
                        | 家樂福 $500即享券 100名
                        br
                        | 家樂福 $100即享券 500名
                        br
                        | *活動得獎名單將於2019年2月28日前公布
    .role-line
    .role-part
        .role-s-title
            img.no-black(src="./images/role-title4.png", alt="注意事項")
            img.black(src="./images/role-title4-b.png", alt="注意事項")            
        ul
            li 本活動由家福股份有限公司(下稱主辦單位)主辦，委託春樹科技股份有限公司製作相關網頁。
            li 活動時間：西元(下同)2019年1月18日（五）至2019年2月12日（二）。
            li 本活動網站之所有活動參加資格與獎項寄送僅限居住於中華民國台澎金馬地區之中華民國國籍居民，且不得指定寄送至中華民國境外地區。
            li 每支電話號碼可擁有至多七次抽獎機會，唯每個獎項限登錄一次，不可重複累積抽獎機會。
            li 本活動將於2019年2月28日前公布中獎名單，並以簡訊方式聯繫中獎人確認電子郵件收件資料，請確認簡訊通知，若聯繫三次未成，則視同放棄領獎資格。請務必注意您於抽獎時所填寫之個人資料是否有確實正確留填，以確保您的領獎資格。其後將寄送領獎通知e-mail，請中獎會員於收到E-mail通知後，依照E-mail指示辦理領獎事宜，逾期視同放棄領獎資格。如有領獎相關問題可洽活動客服信箱：
                a(href="mailto:mailme201608@gmail.com" target="_blank") mailme201608@gmail.com。
            li 活動獎項即享券獎項使用辦法：
                ul.second
                    li 即享券等同於現金而可於全台家樂福各分店之量販賣場與便利購兌換、提領商品使用（不含賣場外之美食街、商店街或專櫃等）。
                    li 即享券之兌換應於結帳前出示電子憑證（手機簡訊），即享券之兌換不接受手抄或口說序號之方式兌換；且一經兌換後該電子序號即失去效力，故請獲獎人自行妥善保存。
                    li 即享券無法使用於購買家樂福商品提貨券、支付商品服務費用(如安裝費、運送費用等)、代收/代售業務(如悠遊卡、icash儲值)及健康捐商品(如：香菸)等，或其他本公司規定不得使用之商品。
                    li 即享券不得直接兌換現金，但可多次或分次使用、抵用至餘額為0。
                    li 即享券可兌換、收納至家樂福APP紅利兌換，操作說明請參考下列網址：
                        a(href="http://www.edenred.com.tw/Carrefour.html" target="_blank") http://www.edenred.com.tw/Carrefour.html
                    li 即享券其他相關資訊：
                        ul.three
                            li 發行人：Edenred Taiwan 新加坡商宜睿智慧股份有限公司台灣分公司。
                            li 本券僅作為企業贈品專用，請按即享券上所指定日期前兌換，不得進行零售或轉售。
                            li 本券為不記名有價證券，且無法進行掛失止付；任何人持本券皆可使用，請持有人自行妥善保管，若有遺失或遭他人盜用等，亦無法進行補發。
                            li 本券已開立發票予購買人，故獲獎人於兌換商品或折抵消費時，本公司將不再開立統一發票。
                            li 本券是否已經兌換，應以發行人票券系統所記錄之狀態為憑。 如系統因網路連線有所遲延，則得依兌換商家系統端資訊為準。
                            li 本券為有價證券，請勿擅自偽造、變造，以免觸犯刑責。
            li 本活動蒐集個人資料之目的係為本次活動所需之抽獎、聯繫、領獎、稅務申報與後續相關處理作業之用途，得獎者並授權主辦單位公開公佈姓名。活動參與者資料之處理及利用由主辦單位或主辦單位委託之第三人並依www.carrefour.com.tw公告進行。活動參與者依法得向主辦單位請求查詢、複製、補充修正、停止蒐集處理利用或刪除會員之個人資料。會員亦得選擇不提供個人資料，但參加活動資格將因程序未完成而被視為放棄。
            li 活動參與者所填之抽獎資料（包括中獎人之真實姓名 ／ 連絡電話 ／ E-mail ／ 中獎回覆函收件地址等），若有資料提供不完整或不真實者，皆視為放棄中獎權利。
            li 本活動獎項其規格和外觀以實物為準，中獎者不得要求更換，主辦單位保留更換等值獎品的權利。
            li 所有獎品為主辦單位宣傳活動獎項之用，嚴禁在網路或其他市場公開販賣。所有獎品不可兌換現金或其他禮品，亦不可轉讓。
            li 本活動概以網路舉行，惟若肇因於不可抗拒之天災人禍、電腦系統故障或參加本活動者之伺服器故障、損壞、延誤或資料有訛誤或其他不可歸責於主辦單位之事由所造成的損失主辦單位恕不負責，亦無須負擔任何賠償或補償責任。
            li 實體獎項之獎品如係郵寄或運送予中獎人，其郵寄或運送過程中，所造成的毀壞、遲遞、錯遞、或遺失，主辦單位恕不負責。中獎人同意主辦單位對於得獎者因使用本活動獎項而導致任何事故，不須負任何賠償責任。所有獎項日後之使用與維修，主辦單位概不負責。
            li 對於透過任何不當程式進行大量封包發送，或任何意圖破壞本次活動之不正常網路傳輸行為；及利用不當方式，影響本活動之公平性者，主辦單位得取消其參加資格的權利，並就其造成之損害得向其請求損害賠償，參加者應自負一切民刑事法律責任。
            li 中獎獎項之中獎金額超過新臺幣 1,000 元時，依中華民國所得稅法規定，需依法申報所得稅。本所得依所得稅法規定屬競技比賽及機會中獎所得，獎品金額超過新臺幣20,010 元者，將依法扣取 10% 所得稅。
            li 參加本活動者視為接受本活動條款、細則與個人資料之蒐集，並接受本活動結果，如有違反，主辦單位得取消其參加或中獎資格。另中獎人亦同意因中獎而發生的郵資應由中獎人負擔（主辦單位寄送獎品之郵費除外）。
            li 主辦單位保有對本活動修改，更正、或終止之權利，無需事先通知。若有變更內容與其他詳細注意事項，將公佈於家樂福官方網站／家樂福facebook粉絲團。本辦法如有未盡事宜，依現行相關法令規定辦理。