nav.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
    div.l-container
        div.nav-bd
            h1.nav-logo
                a(href="index.html" alt="LOGO" title="LOGO" gtm-data="menu-logo")
                    img(src="images/logo.png")
            div.nav-btn
                div.one
                div.two
                div.three
            div.nav-menu(role="navigation")
                ul.clearfix
                    li.nav-item
                        a(href="https://www.facebook.com/notes/%E9%BA%A5%E9%A6%99/%E8%B7%A8%E5%B9%B4%E5%87%BA%E9%BA%A5%E6%9C%8B%E5%8F%8B%E6%8B%8D%E4%BD%A0%E5%80%8B%E9%A0%AD121-%E5%BE%97%E7%8D%8E%E5%90%8D%E5%96%AE/2778415278875773/" alt="中獎名單" itemprop="url" title="中獎名單" target="_blank" gtm-data="menu-中獎名單")
                            img.pconly(src="images/nav-award.png" gtm-data="menu-中獎名單")
                            img.mbonly(src="images/mb-nav-award.png" gtm-data="menu-中獎名單")
                    li.nav-item.nav-item--iscurrent
                        a(href="javascript:void(0)" alt="活動辦法" itemprop="url" title="活動辦法" @click="eventOpen" gtm-data="menu-活動辦法")
                            img.pconly(src="images/nav-event.png" gtm-data="menu-活動辦法")
                            img.mbonly(src="images/mb-nav-event.png" gtm-data="menu-活動辦法")
                    
                    //- li.nav-item
                    //-     a(href="page.html" alt="項目" itemprop="url" title="項目"): span 項目