
@import "assets/sass/setup/_normalize.sass"

@import "assets/sass/layout/_layout.sass"

@import "assets/sass/components/_menu.sass"
@import "assets/sass/components/_approach.sass"

@import "assets/sass/pages/index.sass"
@import "assets/sass/pages/about.sass"
@import "assets/sass/pages/cases.sass"


html
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
    font-size: 16px
    word-spacing: 1px
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    box-sizing: border-box
    background: #1a1a1a

a
    text-decoration: none

.container
    min-height: 100vh
    position: relative

$transec: 0.9s

// .page-leave-to
//     transition: $transec
//     opacity: 1
//     .approach
//         visibility: inherit
//         .leftimg
//             animation: page-in-left $transec
//         .rightimg
//             animation: page-in-right $transec

// .page-enter-to
//     transition: $transec
//     opacity: 1
//     .approach
//         visibility: inherit
//         .leftimg
//             animation: page-out-left $transec
//         .rightimg
//             animation: page-out-right $transec

// .page-enter-to, .page-leave
//     transition: 9s
//     opacity: 1


@keyframes page-in-left
    0%
        left: -50%
    10%
        left: -50%
    100%
        left: 0%

@keyframes page-in-right
    0%
        right: -50%
    10%
        right: -50%
    100%
        right: 0%

@keyframes page-out-left
    0%
        left: 0
    10%
        left: 0
    100%
        left: -50%

@keyframes page-out-right
    0%
        right: 0
    10%
        right: 0
    100%
        right: -50%