div.index__kv
    div.index__kv-main
        img.main_img(src="images/kv-mainbg.png", alt="救救邊緣人")
        .kv-title.anim-img
            img(src="images/kv-title.png", alt="")
        .kv-happyboy.anim-img
            img(src="images/kv-boy.png", alt="")
        .kv-chatbubble.anim-img
            img(src="images/kv-chatbubble.png", alt="")
        .kv-sportlight.anim-img
            img(src="images/kv-spotlight.png", alt="")
        .kv-prods
            img.p1(src="images/kv-prod1.png", alt="")
            img.p2(src="images/kv-prod2.png", alt="")
            img.p3(src="images/kv-prod3.png", alt="")
            img.p4(src="images/kv-prod4.png", alt="")
            img.p5(src="images/kv-prod5.png", alt="")
        .kv-btn
            a(href="/invoice.html"): img(src="images/kv-btn.gif", alt="")