//- page laytout name
extends _layout.pug

block pageInfo
    - var pageTitle = "PowerBOMB人生不斷電馬拉松｜Power出你的能量"
    - var pageDesc = "登錄指定商品發票抽現金99,999、Switch遊戲機！挑戰PowerBOMB人生不斷電馬拉松還有機會抽中PS4等多項好禮！"
    - var pageJs = "index.js"
    - var isVue = true
    //- - var more_js = ["game/Game.js","game/ScenesManager.class.js","game/Tools.class.js"]
//- page html
block page_main
    section.index(v-cloak)
        .kv
            .kvman
            .kvmandeco
            .kvcontent
                .kvslogn
                    img(src="images/kv-slogn.png")
                .kvtxt
                    img(src="images/kv-txt.png")
                .kvprods
                    img(src="images/kv-prods.png")
                .kvbtns
                    a(href="./game.html" title="立即挑戰" gtm-data="主KV第一屏_立即挑戰").kvbtn-game
                    a(href="./invoice.html" title="登錄發票" gtm-data="主KV第一屏_登錄發票").kvbtn-invo
        .invoice#invoice
            h2
                img(src="images/index-title-invoice.png")
            p.pc-only 即日起至2019/11/20，購買康貝特系列或PowerBOMB商品
                br
                | 登錄完整發票號碼及個人相關資料後，即可參加抽獎。
            p.mb-only 即日起至2019/11/20，購買康貝特系列或
                br
                | PowerBOMB商品登錄完整發票號碼及個人相
                br
                | 關資料後，即可參加抽獎。
            .content
                .itemspic
                p.sp *獎品圖示僅供參考
        .products#product
            h2
                img(src="images/index-title-prod.png")
            .content
                .prodspic
                a(href="https://eshop.grapeking.com.tw/collections/comebest?utm_source=eventsite&utm_medium=link&utm_campaign=luckydraw" target="_blank").btn-prod
        .gamenote
            h2
                img(src="images/index-title-game.png")
            p.pc-only 即日起至2019/11/20，凡參加線上《人生不斷電馬拉松》並完成FB公開分享者
                br
                | 即可參加抽獎；活動結束後，成績排行進入前100名者，還有機會把PS4抽回家！
            p.mb-only 即日起至2019/11/20，凡參加線上《人生不斷電馬拉松》並完成FB公開分享者即可參加抽獎；活動結束後，成績排行進入前100名者，還有機會把PS4抽回家！
            p.ps *排行取前100位高分者，同分同名次也具抽獎資格
            .content
                .awardspic
                p.sp *獎品圖示僅供參考
        .leader#leaderboard
            h2
                img(src="images/index-title-leader.png")
            .content
                h2(v-if="top100Arr==''") 名單尚未公布
                ul(v-if="!top100Arr==''")
                    li(v-for="(item, key, index) in top100Arr")
                        .id 
                            i(:class="[{first: item.seq=='1'}, {second: item.seq=='2'}, {third: item.seq=='3'}]") {{ item.seq }}
                        .pic 
                            img(:src="item.pic_url")
                        .name {{ item.fb_name }}
                        .score {{ item.score }}
        .readme#readme
            h2(@click="noteOpen")
            transition(name="fade")
                .content(v-show="note")
                    ul
                        li
                            h3 活動期間
                            p 活動時間自2019年9月25日00:00，至2019年11月20日23:59截止，發票登錄最遲應於2019年11月20日23:59前完成。
                        li
                            h3 中獎公告
                            p 將以電腦隨機方式抽獎，公布得獎名單於活動網站，並以手機簡訊通知中獎者。
                            br
                            br
                            p.bold.blue 登錄發票
                            ul.two
                                li 《能量不斷電終極大獎 現金 NT.99,999》於2019年11月28日(四)公布。
                                li 《補充能量獎週週抽》Nintendo Switch、威秀電影票兩張、超商購物金200元 、Haagen Dazs 105元冰品、連鎖餐飲套餐券於2019/10/14(一)、2019/10/17(四)、2019/10/24(四)、2019/10/31(四)、2019/11/7(四)、2019/11/14(四)、2019/11/21、2019/11/28(四)。每週四公布，遇連假則延後至下一個工作日公布。
                            br
                            br
                            p.bold.blue 人生不斷電馬拉松
                            ul.two
                                li 《參加獎》超商購物金50元 於2019年11月28日(四)公布。
                                li 《百大鐵人排名獎》SONY PS4、SOGO禮券300元於2019年11月28日(四)公布。
                        li
                            h3 兌獎說明
                            ul.two
                                li 《能量不斷電終極大獎 現金 NT.99,999》得獎者應於2019/12/5前透過中獎簡訊內附連結至網站下載中獎回覆函，並填寫資料(詳情請見中獎回覆函，須於影本上註明與『發票正本相符』字樣並親簽)，逾時即喪失資格。發票上若未記載購買品項明細，應另外附上購買明細，以做為領獎憑證。主辦單位確認對獎資格無誤後，將以匯款方式進行，同時匯款金額會扣除代扣稅額及匯款手續費(詳見中獎回覆函)。
                                li 《補充能量獎週週抽》Nintendo Switch及《百大鐵人排名獎》SONY PS4得獎者，於得獎簡訊通知後7天內，透過中獎簡訊內附連結至網站下載中獎回覆函，並填寫資料(包含真實姓名、聯絡地址、身分證影本、中獎發票影本)，活動小組收到後將於7天內寄出獎品(詳見中獎回覆函)。
                                li 《補充能量獎週週抽》雙人威秀電影票及《百大鐵人排名獎》SOGO禮券300元得獎者，於得獎簡訊通知後7天內，透過中獎簡訊內附連結，線上填寫中獎人相關聯絡資訊(包含真實姓名、聯絡電話、聯絡地址)，活動小組收到後將於7天內寄出獎品。
                                li 超商購物金200元 、Haagen Dazs 105元冰品、連鎖餐飲套餐券、超商購物金50元得獎者，將於得獎公告後7天內收到電子序號兌換券簡訊，購物金使用方式請詳見各獎項票券上使用說明。
                        li
                            h3 注意事項
                            ul.two
                                li 本活動僅限登錄紙本電子發票，且消費日期應在本活動期間內。若電子發票存於載具，請務必於購買活動指定商品時告知店家印出紙本發票及明細。同一組有效發票號碼僅限登錄一次，並獲得《能量不斷電終極大獎 現金99,999》及《補充能量獎週週抽》各一次抽獎與中獎機會。每人每週限中獎一次，《能量不斷電終極大獎 現金99,999》不在此限。
                                li 挑戰人生不斷電馬拉松遊戲玩家《參加獎》、《百大鐵人排名獎》每位參與者僅有一次獲獎機會，不重複中獎。
                                li 本次活動相關執行廠商公司之員工，不得參加本次活動。
                                li 本活動獎品不得折換現金，本公司就活動獎項內容得依實際狀況斟酌調整，並保留隨時修改、變更、終止或暫停本活動及替換其他等值贈品之權利。
                                li 春樹科技股份有限公司一概以本活動參加者所提供之個人資料寄送得獎贈品，中獎者請務必提供真實、完整之領獎資料，以便進行領獎作業。如因資料錯誤或不正確，導致無法通知得獎訊息、確認得獎者或獎品寄送後遭退回，皆將視為棄權。
                                li 若中獎者因資格不符或自願放棄中獎資格者，不另行網路公告，未滿20歲之中獎者，應取得監護人之同意並由監護人代為領取，並請附上中獎者及其代領人關係證明影本，如中獎者遲未能補足資料之情形，將視為棄權，主辦單位亦不再另行通知。
                                li 活動參加者有下列情形之一時，主辦單位得取消其得獎資格:
                                    ul.three
                                        li(data-list="1") 違反本活動之活動辦法及相關注意事項之行為。
                                        li(data-list="2") 提供之資料為非真實或冒用第三人之資料。
                                        li(data-list="3") 提供之資料未填寫完整正確之中文姓名、聯絡電話及可收掛號信之郵寄地址。
                                li 活動獎項將以包裹郵寄，在郵寄或運送過程中，非可歸責於春樹科技股份有限公司之事由所造成的毀壞、遲遞、錯遞或遺失，春樹科技股份有限公司及葡萄王股份公司不負賠償責任。
                                li 中獎者未於郵局或宅配通知招領截止日期前領取獎品或通知信函者，視同放棄，其得獎資格將被取消。主辦方保留全權處理任何未頒發的活動獎項之權利。
                                li 如因電腦病毒、駭客入侵、技術失誤、數據遺失、網路擠塞等網路技術的任何因素，以致遞交資料缺失或抽獎活動無法進行，春樹科技股份有限公司無需承擔任何責任。
                                li 依中華民國稅法規定，獎項金額超過新台幣1,000元，中獎人須依規定填寫並繳交中獎收據，主辦單位將開立各類所得扣繳憑單給得獎者，並依稅法規定代扣機會中獎稅。
                                li 中獎者若無法配合填寫並繳交中獎收據，視為中獎者自動棄權且不具得獎資格。另中獎獎品價值超過新台幣 20,010 元(含)以上者，應自行負擔機會中獎所得稅，依法應預先扣繳10%稅金。(詳細則請見機會中獎回覆函)
                                li 本抽獎活動獎品寄送(宅配)地點限於台灣本島、澎湖馬公本島、金門本島與小金門本島。
                                li 本活動辦法如有未盡事宜，主辦單位保留增訂、變更、刪除或終止活動內容獎項等活動內容之權利，修改訊息將於活動網站中公佈，不須另行通知或取得參賽得獎者同意。若參加者不接受本活動於任何時間對本活動內容條款修改或變更後的結果，參加者得放棄其參加資格。
                                li 主辦方有權檢視各活動參與者之參與行為及中獎情形是否涉嫌不法或有違常理之異常狀況，例：人為操作蓄意偽造、短時間異常多筆參與行為、透過任何電腦程式參與活動、詐欺或以任何其他不正當的方式意圖以進行不實或虛偽活動參與行為、或登錄資料不實或不正確或盜用任何第三人之資料，或有違反活動規範之行為，活動參與者因上述情形所獲得之活動資格及獎品，主辦方及活動小組保有變更、終止其參加活動資格、取消中獎資格或暫停活動的權利，並保留法律追訴權。
                                li 所有參加本活動者於提供或填寫個人資料後，視為同意主辦方得將其個人資料於本活動目地範圍內蒐集、處理暨使用之。主辦方僅使用參與者所提供之個人資料於此次活動用途，且遵守【個人資料保護法】相關規定，以維護參與者權益。得獎者授權主辦方公開公佈姓名。
                                li 本活動由葡萄王生技股份有限公司舉辦，並委由春樹科技股份有限公司(粉多集點卡)製作執行，春樹科技股份有限公司保留審核參加及中獎資格，決定修正及變更活動內容之權利。消費者如有任何疑問，請於星期一至星期五10:00~18:00撥打活動專線02-77028887詢問。
                                li 本活動如有未盡事宜，葡萄王生技股份有限公司擁有保留、修改、暫停及解釋活動內容之權利，修改訊息將於活動網站上公佈，不另行通知。
                                li 蒐集利用個人資料告知事項：
                                    ul.three
                                        li(data-list="1") 春樹科技股份有限公司舉辦上述活動，為進行蒐集、處理及利用個人資料，特依「個人資料保護法」     第八條之規定，告知擬參加之消費者下列事項：
                                            ul.four
                                                li 
                                                    span.bold 蒐集人：
                                                    | 春樹科技股份有限公司。(下稱本公司)。
                                                li
                                                    span.bold 目的：
                                                    | 行銷、贈獎及其相關事項。
                                                li
                                                    span.bold 個資類別：
                                                    | C001辨識個人者。如姓名、住址、電話、行動電話等。
                                                li
                                                    span.bold C003政府資料中之辨識者：
                                                    | 如身分證統一編號等。及C011個人描述：年齡、性別、出生年月日等。
                                        li(data-list="2") 個人資料利用之期間、地區、對象及方式：
                                            ul.four
                                                li
                                                    span.bold 期間：
                                                    | 自2019年9月25日起至抽獎活動結束且獎項寄送等後續相關程序執行完畢。
                                                li
                                                    span.bold 地區：
                                                    | 本國、未受中央目的事業主管機關限制之國際傳輸個人資料之接收者所在地。 對象：本公司、委託本公司之廣告主、本公司委託機關及執行本活動時之必要相關人員。
                                                li
                                                    span.bold 方式：
                                                    | 以自動化機器或其他非自動化之利用方式。
                                        li(data-list="3") 參加人得以畫面或電子郵件查詢，或請求閱覽、製給複本、請求補充或更正、請求停止蒐集、處理或利用、請求刪除，惟依法因執行職務或保存證據所必須者，得不依參加人請求為之。
                                        li(data-list="4") 本活動參與者可自由選擇是否提供本公司其個人資料，若拒絕提供相關個人資料，則將被取消中獎資格；且經檢舉或本公司發現不足以確認本活動參與者的身分真實性或其他個人資料冒用、盜用、資料不實等情形，致本公司無法進行必要之確認作業，本公司有權暫時停止提供本活動相關服務及取消中獎資格。
                                        li(data-list="5") 除上述列舉之除外事由以外，春樹科技股份有限公司將尊重參加人之權益，絕不逾越上述特定目的之必要範圍，從事蒐集、處理及利用參加人個人資料，且非經同意，亦絕不任意竄改或洩漏或提供第三人使用。若有逾越上述特定目的之必要範圍之蒐集、處理及利用，春樹科技股份有限公司將事先以書面、電子郵件、傳真或其他適當方式通知並取得參加人書面之同意。
                                li 本網站受reCAPTCHA保護，適用Google
                                    a(href="https://policies.google.com/privacy" target="_blank") 隱私政策
                                    | 和
                                    a(href="https://policies.google.com/terms" target="_blank") 服務條款
                                    | 。
                    p.final.bold 本人參與本活動即視為本人已瞭解活動主辦方貴公司以上告知事項，並已清楚瞭解貴公司蒐集、處理及利用本人個人資料之目的及用途，並同意貴公司於上述告知事項範圍內，得蒐集、處理、國際傳遞及利用本人資料。