//- page laytout name
extends _layout.pug

block pageInfo
    title Baxter SOS系統 | PD利潤試算
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
block page_main
    .container
        .col-md-12
            .dashhead.mb-1
                .dashhead-titles
                    h6.dashhead-subtitle PD 利潤試算
                    h2.dashhead-title  HD/PD Profit spreadsheet
            // 標籤功能
            //
                <div class="hr-divider mb-4">
                <ul class="nav nav-pills hr-divider-content hr-divider-nav">
                <li class="nav-item">
                <a class="nav-link active" href="#"><span class="icon icon-calculator"></span> HD試算</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#"><span class="icon icon-calculator"></span> PD試算</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#"><span class="icon icon-time-slot"></span> HD/PD 試算比較</a>
                </li>
                </ul>
                </div>
            // 標籤
            ul.nav.nav-bordered.mt-4.mt-md-2.mb-0.clearfix(role='tablist')
                li.nav-item(role='presentation')
                    a.nav-link(href='#seciton01_1', role='tab', data-toggle='tab', aria-controls='hd', aria-expanded='true')
                        span.icon.icon-calculator
                        |  HD試算
                li.nav-item(role='presentation')
                    a.nav-link.active(href='#seciton01_2', role='tab', data-toggle='tab', aria-controls='pd', aria-expanded='false')
                        span.icon.icon-calculator
                        |  PD試算
                li.nav-item(role='presentation')
                    a.nav-link(href='#seciton01_3', role='tab', data-toggle='tab', aria-controls='hdvspd', aria-expanded='false')
                        span.icon.icon-time-slot
                        |  HD/PD 試算比較
            hr.mt-0.mb-4
            // 麵包屑
            //
                <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html"><span class="icon icon-calculator"></span> HD試算</a></li>
                <li class="breadcrumb-item active">開始試算</li>
                </ol>
            div.tab-content
                // seciton01_1
                div#seciton01_1.tab-pane.active(role='tabpanel', aria-expanded='true')
                // seciton01_2
                #seciton01_2.tab-pane.active(role='tabpanel', aria-expanded='false')
                    div.row
                        //損益表
                        div.col-lg-12.mb-4
                            div.row
                                div.col-lg-12.mb-3
                                    h6
                                        span.icon.icon-leaf
                                        | 損益表
                                //損益表
                                div.col-lg-6.mb-1
                                    .list-group-item.list-group-item-action.justify-content-between
                                        span 健保給付點
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每月
                                        span.text-muted 3,665,544
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每年
                                        span.text-muted 43,986,528
                                div.col-lg-6.mb-3
                                    .list-group-item.list-group-item-action.justify-content-between
                                        span 健保給付金額
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每月
                                        span.text-muted 2,993,650
                                        span.text-muted 100%
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每年
                                        span.text-muted 35,923,797
                                //成本
                                div.col-lg-12.mb-1
                                    span.icon.icon-shopping-bag.text-danger 成本
                                div.col-lg-12.mb-1
                                    div.list-group-item.list-group-item-action.justify-content-between
                                        small.delta-indicator 每月
                                        span.text-muted 694,917
                                        span.text-muted 23%
                                    div.list-group-item.list-group-item-action.justify-content-between
                                        small.delta-indicator 每年
                                        span.text-muted 8,339,000
                                        span.text-muted 23%
                                div.col-lg-3.mb-3
                                    .list-group-item.list-group-item-action.justify-content-between
                                        span 材料成本(含人工腎臟，藥品等)
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每月
                                        span.text-muted 683,673
                                        span.text-muted 23%
                                div.col-lg-3.mb-3
                                    .list-group-item.list-group-item-action.justify-content-between
                                        span 醫務成本(檢驗費...等)
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每月
                                        span.text-muted 11,244
                                        span.text-muted 0%
                                //費用
                                div.col-lg-12.mb-1
                                    span.icon.icon-shopping-bag.text-danger 費用
                                div.col-lg-12.mb-1
                                    div.list-group-item.list-group-item-action.justify-content-between
                                        small.delta-indicator 每月
                                        span.text-muted 1,917,841
                                        span.text-muted 64%
                                    div.list-group-item.list-group-item-action.justify-content-between
                                        small.delta-indicator 每年
                                        span.text-muted 23,014,090
                                        span.text-muted 64%
                                div.col-lg-3.mb-3
                                    .list-group-item.list-group-item-action.justify-content-between
                                        span 硬體折舊
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每月
                                        span.text-muted 50,000
                                        span.text-muted 2%
                                div.col-lg-3.mb-3
                                    .list-group-item.list-group-item-action.justify-content-between
                                        span 硬體維修費用
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每年
                                        span.text-muted -
                                        span.text-muted 0%
                                div.col-lg-3.mb-3
                                    .list-group-item.list-group-item-action.justify-content-between
                                        span 人事薪資
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每月
                                        span.text-muted 1,171,253
                                        span.text-muted 39%
                                div.col-lg-3.mb-3
                                    .list-group-item.list-group-item-action.justify-content-between
                                        span 固定薪資
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每年
                                        span.text-muted 937,003
                                        span.text-muted 31%
                                div.col-lg-3.mb-3
                                    .list-group-item.list-group-item-action.justify-content-between
                                        span 變動薪資(PPF),$/Tx
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每月
                                        span.text-muted 234,250
                                        span.text-muted 8%
                                div.col-lg-3.mb-3
                                    .list-group-item.list-group-item-action.justify-content-between
                                        span 房屋租金
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每年
                                        span.text-muted 440,000
                                        span.text-muted 15%
                                div.col-lg-3.mb-3
                                    .list-group-item.list-group-item-action.justify-content-between
                                        span 營運費用
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每月
                                        span.text-muted 183,277
                                        span.text-muted 6%
                                div.col-lg-3.mb-3
                                    .list-group-item.list-group-item-action.justify-content-between
                                        span 行政管理費用
                                    .list-group-item.list-group-item-action.justify-content-between
                                        small.text-muted 每年
                                        span.text-muted 73,311
                                        span.text-muted 2%
                                div.col-lg-12.mb-4
                                    div.list-group-item.list-group-item-action.justify-content-between.text-success
                                        | 稅前利潤(每月)
                                        span.text-danger 380,892
                                        span.text-danger 13%
                                    div.list-group-item.list-group-item-action.justify-content-between.text-success
                                        | 稅前利潤(每年)
                                        span.text-danger 4570,707
                                        span.text-danger 13%
                                    div.list-group-item.list-group-item-action.justify-content-between.text-success
                                        | 每人次利潤(每月)
                                        span 407
                                    div.list-group-item.list-group-item-action.justify-content-between.text-success
                                        | 每人利潤(每月)
                                        span 5,081
                                
            footer
                .dashhead-subtitle.text-center ® 版權所有 百特醫療產品股份有限公司 - Baxter Taiwan Version 1.0
block bottomScripts
    script.
        $('#step01_finish').click(function() {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
        });
        $('.step01_finish').click(function() {
            $("html, body").animate({
                scrollTop: 0
            }, 600);
        })

