//- page laytout name
extends _layout.pug

block pageInfo
    - var pageTitle = "身心減壓運動，邊動邊玩再抽十萬元大獎"
    - var pageDesc = "即日起至12/31， 購買葡萄王康普茶、多益點飲料不限金額，並登錄發票即可參加【身心減壓運動】抽獎活動，最大獎十萬元讓你身心徹底減壓！"
    - var pageJs = "index.js";
    - var isVue = true
//- page html
block page_main
    .module
        section.index
            .kv
                
                
              