nav.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
    div.l-container
        div.nav-bd.clearfix
            h1.nav-logo
                a(href="http://www.esunbank.com.tw/" target="_blank" alt="玉山銀行LOGO" title="玉山銀行LOGO") 玉山銀行LOGO
            div.nav-btn
                div.one
                div.two
                div.three
            div.nav-menu(role="navigation")
                ul.clearfix
                    li.nav-item
                        a(href="index.html" alt="首頁" itemprop="url" title="首頁"): span 首頁
                    li.nav-item
                        a(href="info.html" alt="淘寶攻略區" itemprop="url" title="付款攻略區"): span 付款攻略區
