extends _layout.jade
block page_main
    div.page-info.info
        div.bg.info__leftBg
        div.bg.info__rightBg
        div.info__hd
            div.l-container
                h3.title__general.title 天貓 × 淘寶付款攻略區
        div.info__bd
            div.l-container
                div.items.clearfix
                    div.item.item1
                    div.item.item2
                    div.item.item3
                        a.btn.btn__common(href="https://www.esunbank.com.tw/bank/personal/credit-card/intro/bank-card/icash-card", target="_blank", title="點我申辦") 點我申辦
                    div.item.item4
                div.btn-area
                    a.btn__taoboa(href="https://pre-wormhole.tmall.com/wow/act/16495/mqqtw" ,target="_blank" title="立即淘寶") 立即淘寶
