transition(name="fade" v-on:after-enter="afterEnter")
    .popup(v-show="popup")
        .popup__content
            .popup__close(@click="popClose")
            .videopop(v-show="popPage=='video'")
                #player
            .knowpop(v-show="popPage=='knowledge'")
                .pophd
                .popbd
                    .orientation(v-show="popBlock=='orientation'")
                        ul
                            li
                                h2.title 【招財方位】
                                    i
                                        img(src="images/pop-icon-1.png")
                                .content
                                    ul
                                        li
                                            h3 西北方
                                            p 此方位是今年的喜慶位，利於祈求財運、求升遷、旺人丁等諸吉事。
                                        li
                                            h3 正西方
                                            p 此方位利於桃花財及偏財
                                        li
                                            h3 正東方
                                            p 利於武職(從商者)及上班族求財
                                        li
                                            h3 中央
                                            p 是當運的財星，最利於求財求升遷
                            li
                                h2.title 【祭拜地點】
                                    i
                                        img(src="images/pop-icon-2.png")
                                .content
                                    p 務必要在戶外。以免好兄弟登堂入室，流連不去。
                    .time(v-show="popBlock=='time'")
                        ul
                            li
                                h2.title 【祭拜時辰】
                                    i
                                        img(src="images/pop-icon-3.png")
                                .content
                                    ul
                                        li
                                            p 
                                                i
                                                    img(src="images/pop-icon-4.png")
                                                | 午時過後為佳（下午一點鐘之後到黃昏之前的時段），以一小時內完成為宜。
                                        li
                                            p 
                                                i
                                                    img(src="images/pop-icon-5.png")
                                                | 除了中元節當日之外，農曆七月的每天都可進行祭拜普渡。
                    .item(v-show="popBlock=='item'")
                        ul
                            li
                                h2.title 【供桌選品】
                                    i
                                        img(src="images/pop-icon-6.png")
                                .content
                                    ul
                                        li 
                                            p 所謂「三牲」是指雞、豬、魚，並且祭祀用的牲品最好是完整的，有頭有尾的，像是全雞、全魚之類。
                                        li 
                                            p 「四果」不是表示要準備四種水果，而是指「四季當令的水果」。種類以一種或三、五種為宜，並且水果的數目只可奇數、不可偶數。
                                            .img1
                                                img(src="images/pop-pic-1.png")
                                        li 
                                            p 必備（１）：祭拜的三牲之中，務必要有豬(諧音朱)肉。
                                                br
                                                | 在十二生肖之中，「亥」為豬，豬的體態豐滿，而「亥」的五行為水，道水為財；而在紫微斗數上，2019是驛馬年，在外為了事業而四處奔走的人不在少數，要求事業發達平順，賺錢發財，行走江湖要保平安順利，豬腳皆具有象徵性的意涵。
                                        li 
                                            p 必備（２）：大而圓的紅蘋果及八寶粥！
                                                br
                                                | 蘋果需以圓形的貢盤盛裝，象徵平安、吉祥、富貴、圓滿。
                                                br
                                                | 八寶粥則有八方通達，周到之意。
                                        li 
                                            p 必備（3）：祭拜用的鮮花要買盛開的，原則上以不帶刺(玫瑰)的為宜，民俗上也忌諱用劍蘭，會讓好兄弟不敢靠近。
                                        li 
                                            p 必備（4）：香菸、酒、麵飯類、鹽、味精、糖果、餅乾、泡麵等各種零食之類的產品
                                        li 
                                            p 必備（5）：現代人由於生活忙碌緊湊，如實在沒有時間張羅拜拜用品，除了可多利用罐頭、泡麵代替，也可以至賣場購買現成的熟食拼盤代替菜飯；魚可改用魷魚乾、蝦捲等；豬肉用香腸、肉乾等替代，祭拜重視誠意，有誠意很重要。
                                        li 
                                            p 不可擺：切勿用內臟祭拜；不能祭拜沒有尾巴的鱔魚或鰻魚，會讓祭拜的人「無後」。
                                        li 
                                            p ※特別注意 : 供品要插柱香
                                                br
                                                | 每一道祭拜好兄弟的供品，都需要插一炷香，以引導好兄弟前來享用。
                                                br
                                                | 供品若有整箱飲料或餅乾，記得要拆開來，避免好兄弟搶成一團。
                    .appliance(v-show="popBlock=='appliance'")
                        ul
                            li
                                h2.title 【器具】
                                    i
                                        img(src="images/pop-icon-7.png")
                                .content
                                    .img2
                                        img.pc-only(src="images/pop-pic-2.png")
                                        img.mb-only(src="images/mb-pop-pic-2.png")
                                    ul
                                        li
                                            p 由於祭拜好兄弟都是在室外，在住家公寓或辦公大樓的一樓廣場，並且多半是集體祭拜，像是流水席的概念，因此，一般公司行號或是家庭對於供桌多以長形或方形桌子併桌排列，鋪上紅色桌布。
                                        li
                                            p 桌上：供奉五味碗(五種熟食)、三牲、糕點、茶水、酒、飯菜、乾糧、餅乾、水果、罐頭、麵條......等等。拜拜的金紙勿上桌。
                                        li
                                            p 桌下：不宜堆放雜物。
                                        li
                                            p 紅色高腳小酒杯3個。
                                        li
                                            p 祭拜好兄弟時需以米筒裝米七分滿作為『浮爐』，若不方便設香爐，可直接將香枝插在每樣供品上(所有供品都需插上一炷香並注意火頭需向外)，若有剩下的香枝，全部插在『浮爐』上。
                                        li
                                            p 忌用拜神明的黃香，要用拜好兄弟的黑香。
                                        li
                                            p 紙錢的部分：經衣(先燒經衣，請好兄弟更衣享用祭品），小銀（待供品上的香枝約燒了一半後，開始燒小銀，由大到小順著燒），然後金銀財寶(由大到小順著燒)。紙錢可多一些，可以讓好兄弟隨意花用。
                                        li
                                            p 普渡時要準備臉盆(裝半盆水)及毛巾、牙刷、牙膏、漱口杯供於供桌前的板凳上。備註：洗臉水及毛巾給好兄弟清潔之用，有讓祂們洗心革面超渡重生之意。
                    .note(v-show="popBlock=='note'")
                        ul
                            li
                                h2.title 【祭拜注意事項】
                                    i
                                        img(src="images/pop-icon-8.png")
                                .content
                                    ul
                                        li
                                            h3 祭拜時
                                            ul.second
                                                li
                                                    p 不可偷吃祭品，要懷著審慎、尊神敬鬼的心情祭拜，因為這些祭品本是屬於好兄弟的，如果未經他們的同意私自食用，惹毛了好兄弟可是會招來厄運的。
                                                li
                                                    p 禁放鞭炮，祭拜時千萬要記得不要燃放鞭炮，以免因此嚇走好兄弟，讓它們無法超生，找不到回鬼門關的路。
                                                li
                                                    p 拜拜時不要說：請保佑我..........等話語。
                                        li
                                            h3 祭祀完畢後
                                            ul.second
                                                li
                                                    p 拜拜之後要燒紙錢，應先燒給神佛，再燒給好兄弟。燒給好兄弟的紙錢，須於焚燒前繞拜好兄弟香三圈，才能讓在這裡享用供品的好兄弟得到紙錢。
                                                li
                                                    p 燒紙錢時，記得要一張一張的燒，燒的過程中不要隨意撥動。
                                                li
                                                    p 祭拜結束、燒完紙錢後，要將敬拜酒杯內的水或酒在爐邊灑圓圈並繞三圈，代表圓滿結束及引孤魂至極樂世界。注意不可將酒灑在紙錢上，這樣會讓好兄弟收不到錢。
                            li
                                h2.title 【祭拜叮嚀】
                                    i
                                        img(src="images/pop-icon-8.png")
                                .content
                                    ul
                                        li
                                            h3 沖煞要迴避
                                            p 當天或當日時辰沖煞的人，不宜參加普渡拜拜，以免被好兄弟的磁場所干擾。
                                        li
                                            h3 不可說名字
                                            p 一般祭拜神明時要說出自己的名字、出生年、月、日以及住址，但祭拜好兄弟千萬不能說名字。這是避免讓好兄弟日後找上門，因此，僅需以尊敬的心情祭拜即可。
                                        li
                                            h3 不可說：請保佑我..........等話語
                                        li
                                            h3 服裝要端莊
                                            p 祭拜時服裝宜端莊，勿著內衣褲就祭拜或赤身露背，女人應穿裙或長褲，勿著短褲。盡量穿鮮色明亮的衣服，保持整潔，不要穿深色、暗色或是黑色的衣服，以免招來晦氣。披頭散髮也是非常不好及不禮貌的。
                                        li
                                            p 集體拜拜時現場不要有空桌。
                                        li
                                            p 不隨意拍照，避免陰暗處用閃光燈。
                                        li
                                            p 不說過頭話或鐵齒的言語。避免喧嘩，需謹言慎行。
                                        li
                                            p 不晚歸。避免夜遊，嚴禁下水嬉戲。
                                        li
                                            p 不宜住醫院開刀動手術。
                                        li
                                            p 避免在居處懸掛風鈴之類發出聲響的器物。
                                        li
                                            p 避免嫁娶。
                                        li
                                            p 忌諱買賣房子、搬家、入厝等。
                                        li
                                            p 忌半夜洗衣晾衣。
                                        li
                                            p 方位注意：忌西南方與東北方。
                                        li
                                            p.yellow 化解之道－西南方可放置金屬製薰香器皿，白色或金色；東北方可放置水生植物或綠色盆栽。
                .popbm