nav.nav(itemscope itemtype="http://schema.org/SiteNavigationElement")
    div.l-container
        div.nav-bd
            h1.nav-logo
                a(href="index.html" alt="LOGO" title="LOGO") LOGO
            div.nav-btn
                div.one
                div.two
                div.three
            div.nav-menu(role="navigation")
                ul.clearfix
                    li.nav-item.nav-item__index
                        a(href="index.html" alt="項目" itemprop="url" title="項目"): span 首　　頁
                    li.nav-item.nav-item__data
                        a(href="data.html" alt="項目" itemprop="url" title="項目"): span 登錄發票
                    li.nav-item.nav-item__products
                        a(href="index.html#eventsActive" alt="項目" itemprop="url" title="項目"): span 四重禮活動辦法
                    li.nav-item.nav-item__award
                        a(href="award.html" alt="項目" itemprop="url" title="項目"): span 得獎名單
                    li.nav-item.nav-item__about
                        a(href="about.html" alt="項目" itemprop="url" title="項目"): span 關於粉多集點卡
                    li.nav-item
                        a(href="products.html" alt="項目" itemprop="url" title="項目"): span 喝的極品貝納頌