//page laytout name
extends _layout.jade

//page html
block page_main
    section.award
        div.l-container
            //時尚大獎 iPhone X
            div.award__box__area.award__box__area--1
                div.award__box__top
                div.award__box__body
                    h2.award__title 得獎名單
                    h3.award__title2 時尚大獎 iPhone X(共3名)
                    //公告前
                    div.award--before
                        p.award__txt 於
                            span.red 12/27
                            | 公告幸運得主
                            br
                            | 敬請期待
                    //公告後
                    div.award--after
                        table.award__tab
                            tr
                                th.name 姓名
                                th.tel 電話
                            tr
                                td 王X明
                                td 0912XXX789
                            tr
                                td 王X明
                                td 0912XXX789
                            tr
                                td 王X明
                                td 0912XXX789
                div.award__box__bottom
            //超值好禮  威秀電影票
            div.award__box__area.award__box__area--2
                div.award__box__top
                div.award__box__body
                    h3.award__title3 超值好禮  威秀電影票(共110名)
                    p.award__txt 於
                        span.red 每週二
                        | 公告幸運得主
                        br
                        | 敬請期待
                    //公告後
                    div.award--after
                        div.award__week
                            p.award__txt
                                span.red 第一週
                            table.award__tab
                                tr
                                    th.name 姓名
                                    th.tel 電話
                                tr
                                    td 王X明6666
                                    td 0912XXX789
                                tr
                                    td 王X明
                                    td 0912XXX789
                                tr
                                    td 王X明
                                    td 0912XXX789
                                tr
                                    td 王X明
                                    td 0912XXX789
                                tr
                                    td 王X明
                                    td 0912XXX789
                                tr
                                    td 王X明
                                    td 0912XXX789
                                tr
                                    td 王X明
                                    td 0912XXX789
                        div.award__week
                            p.award__txt
                                span.red 第二週
                            table.award__tab
                                tr
                                    th.name 姓名
                                    th.tel 電話
                                tr
                                    td 王X明6666
                                    td 0912XXX789
                                tr
                                    td 王X明
                                    td 0912XXX789
                                tr
                                    td 王X明
                                    td 0912XXX789
                div.award__box__bottom