//page laytout name
extends _layout.jade

//page html
block page_main
    section.products
        div.l-container
            div.products__title 喝的極品貝納頌
            p.products__txt 消費購買下列貝納頌系列商品，登錄發票即可參加抽獎
                br
                span.red 消費1元即1點，集滿360點再送貝納頌經典曼特寧1瓶
            div.products__items__area
                div.products__items
                    h2.products__items__title 貝納頌咖啡
                    div.products__items__img.products__items__img--img1
                    p.products__items__txt 經典拿鐵
                        br
                        | 290ml
                div.products__items
                    h2.products__items__title 貝納頌咖啡
                    div.products__items__img.products__items__img--img2
                    p.products__items__txt 經典曼巴風味
                        br
                        | 290ml
                div.products__items
                    h2.products__items__title 貝納頌咖啡
                    div.products__items__img.products__items__img--img3
                    p.products__items__txt 經典曼特寧風味
                        br
                        | 290ml
                div.products__items
                    h2.products__items__title 貝納頌咖啡
                    div.products__items__img.products__items__img--img4
                    p.products__items__txt 經典曼特寧深焙風味
                        br
                        | 290ml
                div.products__items
                    h2.products__items__title 貝納頌咖啡
                    div.products__items__img.products__items__img--img5
                    p.products__items__txt 經典榛果風味拿鐵
                        br
                        | 290ml
                div.products__items
                    h2.products__items__title 貝納頌館藏咖啡
                    div.products__items__img.products__items__img--img6
                    p.products__items__txt 極品拿鐵
                        br
                        | 290ml
                div.products__items
                    h2.products__items__title 貝納頌館藏咖啡
                    div.products__items__img.products__items__img--img7
                    p.products__items__txt 極品曼特寧風味
                        br
                        | 275ml
                div.products__items
                    h2.products__items__title 貝納頌弗麗嘉奶茶
                    div.products__items__img.products__items__img--img8
                    p.products__items__txt 
                        br
                        | 275ml
                div.products__items
                    h2.products__items__title 貝納頌咖啡
                    div.products__items__img.products__items__img--img9
                    p.products__items__txt 經典拿鐵
                        br
                        | 210ml
                div.products__items
                    h2.products__items__title 貝納頌咖啡
                    div.products__items__img.products__items__img--img10
                    p.products__items__txt 經典曼特寧風味 
                        br
                        | 210ml
                div.products__items 
                    h2.products__items__title 貝納頌咖啡
                    div.products__items__img.products__items__img--img11
                    p.products__items__txt 經典黑咖啡
                        br
                        | 210ml
                div.products__items
                    h2.products__items__title 貝納頌咖啡
                    div.products__items__img.products__items__img--img12
                    p.products__items__txt 經典直火炭焙風味
                        br
                        | 210ml
                div.products__items
                    h2.products__items__title 貝納頌
                    div.products__items__img.products__items__img--img13
                    p.products__items__txt 極品鑑賞級咖啡
                        br
                        | 250ml
                div.products__items
                    h2.products__items__title 貝納頌二合一咖啡
                    div.products__items__img.products__items__img--img14
                    p.products__items__txt 經典曼特寧風味
                        br
                div.products__items
                    h2.products__items__title 貝納頌三合一咖啡
                    div.products__items__img.products__items__img--img15
                    p.products__items__txt 經典曼特寧
                        br
                div.products__items
                    h2.products__items__title 貝納頌三合一咖啡
                    div.products__items__img.products__items__img--img16
                    p.products__items__txt 經典拿鐵
                        br
                div.products__items
                    h2.products__items__title 貝納頌濾掛咖啡
                    div.products__items__img.products__items__img--img17
                    p.products__items__txt 經典曼特寧風味
                        br
                div.products__items
                    h2.products__items__title 貝納頌濾掛咖啡
                    div.products__items__img.products__items__img--img18
                    p.products__items__txt 哥倫比亞風味
                        br
